openapi: 3.1.0
info:
  version: 1.2.2-oas3.1
  title: Ankorstore Stock Tracking and Logistics Applications Ordering API
  summary: API specification for the Ankorstore Stock Tracking and Logistics system
  description: Ankorstore Stock Tracking and Logistics (ASTRAL) API specification
  contact:
    name: Ankorstore
    url: https://www.ankorstore.com
    email: api@ankorstore.com
  license:
    url: https://creativecommons.org/publicdomain/zero/1.0/
    name: CC0 1.0 Universal
servers:
- url: http://www.ankorlocal.com:8000
  description: Local Development Server
- url: https://www.preprod.ankorstore.com
  description: Staging Environment
- url: https://www.ankorstore.com
  description: Prod Environment
tags:
- name: Ordering
  description: "ℹ️ This section of API allows to manage different types of orders in the system. Depending on the order type, there are\ndifferent endpoints available to manage them. Before starting to work with the API, it is recommended to read the\ndocumentation to better understand the differences between the order types, their workflow and lifecycle.\n\n## \U0001F4A1 General conceptions\n\n- _Internal Order_ - A regular type of order created via Ankorstore platform. It may have different types of shipping\n  and payment.\n  The client of such an order is always an existing retailer entity, available in Ankorstore.\n- _External Order_ - A special type of order created by a brand for an external customer, which might not exist in\n  Ankorstore. This type of order does not expect retailer as a reference to the Ankorstore entity, but rather allows brand\n  to provide a custom client details, such as address, contact information etc. The orders of this type in the\n  current version of the platform are fulfilled by the Fulfillment Centers only and do not support any other type of shipping.\n- _Master Order_ - Not a separate type of order, but rather a wrapper over other order types.\n  It allows to have a single reference to the order, regardless of its type. A _Master Order_ usually has a one-to-one\n  relationship with either _Internal Order_ or _External Order_ so either of these order can be accessed via the _Master\n  Order_ reference.\n\n## \U0001F4A1 Working with Master Orders\n\n### Access different types of orders via Master Order\n\nAs mentioned above, the _Master Order_ is a wrapper over other order types.\nIt allows to have a single reference to the underlying order, regardless of its type.\nThe available _Master Order_ endpoints allow to fetch a list of available _Master Orders_\nand also get a single _Master Order_ by its ID and, following JSON:API specification, including the\nunderlying orders as relations. This approach allows to deal with different order types in a unified way\n(e.g. listing, pagination). However, it is still possible to access the underlying _Internal Orders_ directly,\nin order to keep the backward compatibility.\n\n<pre class=\"mermaid\">\ngraph LR\n    A[Master Order] --> B[Internal Order]\n    A --> C[External Order]\n</pre>\n\n_Master Order_ as a standalone resource might not bring much value, but the _Master Order_ endpoints allow\nto include a corresponding wrapped orders as relations, which per se contain a useful payload.\n\n### Includes\n\nThe _Master Order_ has a one-to-one relationship with either _Internal Order_ or _External Order_. Hence,\npassing query parameter `?include=internalOrder`, `?include=externalOrder` or by combining different includes,\n(separated by comma e.g. `?include=internalOrder,externalOrder`) you will receive wrapped order as a relation.\n\nFor example, let's say you have only 2 orders, one of them is _Internal Order_, another is _External Order_.\nIf you don't include any relation into request to the [List Master Orders](#tag/Ordering/operation/list-master-orders),\n\n```\n[GET] /api/v1/master-orders\n```\n\nthe response will contain only a list of identifiers without any wrapped orders:\n\n```json5\n{\n  //...\n  \"data\": [\n    {\n        \"type\": \"master-orders\",\n        \"id\": \"a470c8d6-1bda-4612-b0bd-3ea2a81a9e89\",\n    },\n    {\n        \"type\": \"master-orders\",\n        \"id\": \"0ca13de1-8e4b-4e67-a147-185cc5f6f57f\",\n    },\n    //...\n  ],\n  //...\n}\n```\n\nBut with the inclusion of the wrapped order relations to the same endpoint\n\n```\n[GET] /api/v1/master-orders?include=internalOrder,externalOrder\n```\n\nthe result will contain included information about the actual orders:\n```json5\n{\n  //...\n  \"data\": [\n    {\n      \"type\": \"master-orders\",\n      \"id\": \"a470c8d6-1bda-4612-b0bd-3ea2a81a9e89\",\n      \"relationships\": {\n        \"internalOrder\": {\n          \"data\": {\n            \"type\": \"internal-orders\",\n            \"id\": \"a470c8d6-1bda-4612-b0bd-3ea2a81a9e89\"\n          }\n        },\n      }\n    },\n    {\n      \"type\": \"master-orders\",\n      \"id\": \"0ca13de1-8e4b-4e67-a147-185cc5f6f57f\",\n      \"relationships\": {\n        \"externalOrder\": {\n          \"data\": {\n            \"type\": \"external-orders\",\n            \"id\": \"0ca13de1-8e4b-4e67-a147-185cc5f6f57f\"\n          }\n        }\n      }\n    },\n    //...\n  ],\n  \"included\": [\n    {\n      \"type\": \"internal-orders\",\n      \"id\": \"a470c8d6-1bda-4612-b0bd-3ea2a81a9e89\",\n      \"attributes\": {\n        // Internal order attributes here\n      }\n    },\n    {\n      \"type\": \"master-orders\",\n      \"id\": \"0ca13de1-8e4b-4e67-a147-185cc5f6f57f\",\n      \"attributes\": {\n        // External order attributes here\n      }\n    },\n    //...\n  ]\n  //...\n}\n```\n\nTo learn more about JSON:API include mechanism, please refer to the [official docs](https://jsonapi.org/format/#fetching-includes).\n\n## \U0001F4A1 Working with Internal Orders\n\nDespite the fact that the _Internal Orders_ can be accessed via the _Master Order_ endpoints, it is still possible to\naccess them directly, in order to keep the backward compatibility. Moreover, some actions (e.g. transiting an _Internal\nOrder_ to the next state) are only available via the direct _Internal Order_ endpoints.\n\n### Includes\n\nFor every endpoint that returns the _Internal Order_ resource you may pass an `?include=` query parameter\nthat will return extra information inside the `included` root level object.\nThe supported resources to include are `retailer`, `billingItems`, `orderItems`, `orderItems.productVariant`\nand `orderItems.productVariant.product`.\nPlease note that, if you include `orderItems.productVariant` you do not need to specify `orderItems` separately.\nIt will be automatically included. As an example, to include all data possible you would\ndo `?include=retailer,billingItems,orderItems.productVariant.product`\n\n<div class=\"warning\">\n\n#### Product options usage is deprecated\n\nPlease note, that we have fully completed migrating our system to the new product model with product options\nreplaced by product variants. It means, the usage of product options is deprecated and will be removed in the future\nversions of the API.\n\nPlease, consider updating your API clients in favor of using `orderItems.productVariant` instead of `orderItems.productOption`\nto avoid any issues in the future. For the time being, the API still supports both approaches, but we strongly encourage\nyou to not rely on the deprecated resources anymore because we cannot fully guarantee their stability due to some technical limitations.\n\n</div>\n\n### Important Fields within Internal Order resource\n\nIf the field contains no data, it will be `null`. The only exception currently to this is `shippingOverview` which can\nbe viewed below. The fields listed below are not all the fields, please see the API specification for all of them.\n\n### Status `status`\n\nThe status field is the current state of the order, below is a table that describes each step:\n\n| Status                      | Description                                                                                                                                                                                                                               |\n|-----------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `ankor_confirmed`           | The order has been confirmed by Ankorstore and now a decision can be made whether to accept or reject this order.                                                                                                                         |\n| `rejected`                  | The order has been rejected, Ankorstore needs to approve this rejection. If it does, the status will moved to `cancelled`.                                                                                                                |\n| `brand_confirmed`           | The order has been accepted. it now needs to be shipped to the retailer.                                                                                                                                                                  |\n| `shipping_labels_generated` | The order has been shipped with Ankorstore and the labels have been generated - these are now available in the order resource data within `shippingOverview`.                                                                             |\n| `fulfillment_requested`     | The brand has chosen to fulfill the order, or the order was automatically fulfilled. The order will remain in this state until it has been fulfilled by the fulfillment provider.                                                         |\n| `shipped`                   | The order has either been picked up by an Ankorstore carrier (e.g UPS) or the brand has chosen to ship with their own carrier.                                                                                                            |\n| `received`                  | The retailer has received the package, if shipped with Ankorstore this is automatic from the carrier otherwise for custom shipping the retailer has to manually acknowledge this.                                                         |\n| `reception_refused`         | The retailer has refused the reception of the package - if Ankorstore approves the reason the order will move to cancelled. The status can also move to `received` if the retailers issues have been resolved by the brand or Ankorstore. |\n| `invoiced`                  | The final invoice has been issued for this order.                                                                                                                                                                                         |\n| `brand_paid`                | The brand has been paid in full for this order.                                                                                                                                                                                           |\n| `cancelled`                 | The order is cancelled.                                                                                                                                                                                                                   |\n\n<pre class=\"mermaid\">\nflowchart LR\n    ankor_confirmed -- accept order -->brand_confirmed\n    ankor_confirmed -- reject order -->rejected-->cancelled\n    brand_confirmed -- shipping method: custom -->shipped\n    brand_confirmed -- shipping method: ankorstore -->shipping_labels_generated\n    brand_confirmed -- shipping method: fulfillment -->fulfillment_requested\n    shipping_labels_generated-->shipped\n    fulfillment_requested-->shipped\n    shipped-->reception_refused-->cancelled\n    shipped-->received-->invoiced-->brand_paid\n    reception_refused-->received\n</pre>\n\n<div class=\"warning\">\n\n#### Not to be confused: Status vs Shipping Flow\n\nThe above diagram shows what status the order will be in **based** on the actions performed in the API. The most\nconfusing may be the shipping flow. To reach the `shipped` or `shipping_labels_generated` status, a shipping quote must\nalways be generated and then confirmed. Please see [shipping an order](#tag/Order/Shipping-an-Order) for further\ndetails.\n\n</div>\n\n### Shipping Method `shippingMethod`\n\nWhat shipment method has been chosen for this order. Either `ankorstore` for using Ankorstore's shipping service,\n`custom` for using the brand's own carrier or `fulfillment` if the order is shipped from a fulfillment centre\nThis field is `null` when no choice has yet been made.\n\n### Shipping Overview `shippingOverview`\n\n<div class=\"warning\">\n\n#### Field Availability\n\nThe object `shippingOverview` is only available when retrieving a single order. This data is not available when\nretrieving a list of orders.\n\n</div>\n\n### Submitted At `submittedAt`\n\nThis is the date the retailer submitted their whole order.\n\n### Shipped At `shippedAt`\n\nThis is when the brand shipped the order.\n\n### Brand Paid At `brandPaidAt`\n\nThis is when Ankorstore pays the brand, if it is `null` then payment is still pending.\n\n### Interacting with Internal Orders\n\nWhen a brand receives a new order, it arrives in the `ankor_confirmed` status. The brand can then perform certain\ntransitions using a single endpoint:\n\n`POST /api/v1/orders/{id}/-actions/transition`\n\nThis endpoint will accept different payloads depending on what transition is provided. This page will detail each\ntransition that may be performed and when.\n\nAll the implementation details and fields can be found in the endpoint documentation.\n\n<div class=\"danger\">\n\n#### No going back!\n\nOnce an order is accepted or rejected it cannot be reversed. If this was a mistake the brand can contact Ankorstore\nthrough the normal channels to revert the order to `ankor_confirmed`.\n\n</div>\n\nIf an order is rejected you need to provide a detailed reject reason. Otherwise, after the order is accepted the brand\nthen needs to ship it.\nPlease see [shipping](#tag/Shipping) for further details.\n\n### Accepting an Internal Order\n\nCan be performed when the order is in `ankor_confirmed`.\n\nIn order to accept an order without any item modifications a simple payload detailing the transition will suffice:\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-validates\"\n  }\n}\n```\n\nThe order will move from `ankor_confirmed` to `brand_confirmed`.\n\n### Accepting an Internal Order with modifications\n\nCan be performed when the order is in `ankor_confirmed`.\n\nSometimes you may wish to modify the order before accepting it if for example you do not have the items in stock or\nfurther communication has taken place with the retailer.\n\nThe order items can **only be modified at this stage**. The rules of the payload are as follows:\n\n- To leave an item's quantity as is, do not include it in the payload below\n- To update an item's quantity, include it in the payload below with the new quantity (cannot be above the current\n  quantity)\n- To remove an item entirely, set the item's quantity to 0.\n\nYou cannot remove all items, please reject the order in this scenario.\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-validates\",\n    \"attributes\": {\n      \"orderItems\": [\n        {\n          \"id\": \"a470c8d6-1bda-4612-b0bd-3ea2a81a9e89\",\n          \"type\": \"order-items\",\n          \"attributes\": {\n            \"quantity\": 12\n          }\n        },\n        {\n          \"id\": \"0ca13de1-8e4b-4e67-a147-185cc5f6f57f\",\n          \"type\": \"order-items\",\n          \"attributes\": {\n            \"quantity\": 0\n          }\n        }\n      ]\n    }\n  }\n}\n```\n\nThe order will move from `ankor_confirmed` to `brand_confirmed`.\n\n### Rejecting an Internal Order\n\nCan be performed when the order is in `ankor_confirmed`.\n\nTo reject an order you must provide a reason listed below for the `rejectType` field.\n\n- `BRAND_ALREADY_HAS_CUSTOMER_IN_THE_AREA` - Brand already has a customer in the area\n- `BRAND_CANNOT_DELIVER_TO_THE_AREA` - Brand cannot make a delivery to the target area\n- `BRAND_HAS_EXCLUSIVE_DISTRIBUTOR_IN_THE_REGION` - The brand already has an exclusive distributor in the target region\n- `BUYER_NOT_A_RETAILER` - The buyer does not seem to be a retailer\n- `ORDER_ITEMS_PRICES_INCORRECT` - The prices of items in this order were incorrect\n- `PAYMENT_ISSUES_WITH_RETAILER` - Brand had payment issues in the past with this retailer\n- `PREPARATION_TIME_TOO_HIGH` - The time needed for the order preparation is excessively high\n- `PRODUCT_OUT_OF_STOCK` - Order cannot be processed because one or multiple ordered products are not in the stock\n- `PURCHASE_NOT_FOR_RESALE` - This purchase does not seem to be for resale\n- `RETAILER_AGREED_TO_DO_CHANGES_TO_ORDER` - The retailer agreed so that they can do changes to the order\n- `RETAILER_NOT_GOOD_FIT_FOR_BRAND` - The retailer who made an order does not fit the brand's criteria\n- `RETAILER_VAT_NUMBER_MISSING` - The retailer VAT number is missing\n\n\n- `OTHER` - If no reason above is suitable you can use value, but you **MUST** provide a `rejectReason` which accepts a\n  plain text string of 1000 characters.\n\n### Example rejection\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-rejects\",\n    \"attributes\": {\n      \"rejectType\": \"ORDER_ITEMS_PRICES_INCORRECT\"\n    }\n  }\n}\n```\n\n### Example rejection with OTHER\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-rejects\",\n    \"attributes\": {\n      \"rejectType\": \"OTHER\",\n      \"rejectReason\": \"a different reason\"\n    }\n  }\n}\n```\n\nThe order will move from `ankor_confirmed` to `cancelled`.\n\n### Resetting an Internal Order's generated shipping labels\n\nCan be performed when the order is in `shipping_labels_generated`.\n\nTo reject an order you must provide a reason listed below for the `resetType` field.\n\n- `BRAND_NEED_MORE_LABELS_TO_SHIP` - Brand needs more shipping labels to ship\n- `BRAND_PUT_WRONG_WEIGHT_DIMENSIONS` - Brand put wrong parcel weight and/or dimensions\n- `BRAND_SHIPS_WITH_DIFFERENT_CARRIER` - Brand wants to ship with a different carrier\n- `PROBLEM_DURING_SHIPPING_LABEL_GENERATION` - There was a problem during the shipping labels generation\n- `RETAILER_ASKED_DELIVERY_ADDRESS_CHANGE` - The retailer asked for a delivery address change\n- `SHIPPING_ADDRESS_MISMATCHES_PICKUP_ADDRESS` - The shipping address mismatches the pickup address\n\n\n- `OTHER` - If no reason above is suitable you can use this value, but you **MUST** provide a `reason` which accepts a\n  plain text string of 300 characters maximum.\n\n#### Example reset shipping labels\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-resets-shipping-labels-generation\",\n    \"attributes\": {\n      \"resetType\": \"BRAND_PUT_WRONG_WEIGHT_DIMENSIONS\"\n    }\n  }\n}\n```\n\n#### Example reset shipping labels with OTHER\n\n```json\n{\n  \"data\": {\n    \"type\": \"brand-resets-shipping-labels-generation\",\n    \"attributes\": {\n      \"rejectType\": \"OTHER\",\n      \"reason\": \"a different reason\"\n    }\n  }\n}\n```\n\nThe order will move from `shipping_labels_generated` to `brand_confirmed`.\n\n### Requesting fulfillment by Ankorstore Logistics for an Internal Order\n\nCan be performed when the order is in `brand_confirmed`.\n\nAnkorstore Logistics will fulfill the order and ship it to the retailer.\nThe order will move from `brand_confirmed` to `fulfillment_requested`.\n\nMust be preceded by a [fulfillability check](#tag/Ordering/operation/internal-order-is-fulfillable), since it requires\nthe brand to be enrolled with Ankorstore logistics, and sufficient stock to be available in an Ankorstore warehouse.\n\nValidation errors can include:\n- `not_a_fulfillment_brand` - The brand is not enrolled with Ankorstore Logistics\n- `unavailable_items` - One or more items are not available in the warehouse. The response will include a list of the\n  unavailable items, which map to` productVariant.fulfillableId`\n- `already_being_fulfilled` - The order is already being fulfilled\n- `not_available_for_international_orders` - Fulfillment is currently not available for orders crossing a customs border\n- `missing_hs_code_for_international_order` - One or more products are missing a Harmonized System code (HS code), required for customs clearance on non-EU destinations\n- `stock_is_being_transferred` - The stock is currently being transferred between warehouses\n\n### Available operations on Internal Orders\n\n- [List Internal Orders](#tag/Ordering/operation/list-internal-orders)\n- [Retrieve a single Internal Order](#tag/Ordering/operation/get-internal-order)\n- [Transition an Internal Order](#tag/Ordering/operation/transition-internal-order) - accept, reject order etc.\n- [List shipping quotes](#tag/Shipping/operation/list-order-shipping-quotes) - get a list of shipping quotes for a given order\n- [Confirm shipping quote](#tag/Shipping/operation/confirm-order-shipping-quote) - confirm the shipping quote and move the order into its shipping phase\n- [Schedule pickup for order](#tag/Shipping/operation/ship-internal-order-schedule-pickup) - schedule a pickup for the  order (if shipped with Ankorstore)\n- [Ship order with custom](#tag/Shipping/operation/ship-internal-order-custom) - generate a quote for shipping with your own carrier\n- [Check fulfillability](#tag/Ordering/operation/internal-order-is-fulfillable) - check whether an order is fulfillable by Ankorstore Logistics\n\nYou can also find some details about shipping in the dedicated [Shipping](#tag/Shipping) section,\n\n## \U0001F4A1 Working with External Orders\n\nThe information about _External Orders_ can be only listed and retrieved as a relation of _Master Order_ endpoints.\nHowever, some _External Order_-specific operations are also available, see the section below.\n\n### How to create External Order?\n\nThe creation of _External Order_ is as easy as just sending one request to the API.\nThe process of creation is asynchronous, because it involves some 3rd party services, such as Fulfillment Center\noperators, who needs to confirm the possibility of fulfillment (availability of the stock, etc.).\n\nFor better understanding, you can treat the creation of _External Order_ an \"intent to create an order with particular items for\nparticular client\". So after submission, the intent is either accepted or rejected by API, depending on the different\nfactors (such as availability of the stock, etc.). More on this below.\n\n#### Preparing for External Order creation\n\nUsually, before sending the actual `Create External Order` request, you need collect some information in order to make the request valid.\n\nThe request payload is described in details in the [endpoint specification](#tag/Ordering/operation/ordering-create-non-ankorstore-fulfillment-order)\nbut here we will take a general look at the necessary pieces of the information required for the request:\n\n1. **Valid set of fulfillables.** The endpoint accepts the list of [fulfillable items](#tag/Fulfillment/About-Fulfillment).\n   The identifiers should be valid and the quantities should be evenly divisible by the batch size. Otherwise, the\n   request might be rejected by the API.\n2. **Valid shipping address.** This is one of the most important parts of the order, please make sure the address is\n   completely valid, the provided postal code and phone number match the specified country etc. Otherwise, any mistake\n   in the address fields could be only fixed with the help of the Ankorstore Support team.\n3. **Generate unique identifier (UUID) for the order.** Despite this field is optional, considering the asynchronous\n   nature of the process, it is highly recommended to provide it. This will allow you to immediately get the information\n   about the order, check its status etc. Omitting this field will result in the generation of the identifier by API\n   and will only make sense if you don't want to check the result immediately (\"fire-and-forget\").\n\nThe last 2 steps can be done independently, but the first step is a bit more complicated, because it requires the knowledge\nabout the available products and their identifiers. This information can be obtained via the [Catalog API](#tag/Products)\nand [Fulfillment API](#tag/Fulfillment).\n\n### A practical example\n\n<div class=\"info\">\n\nThe assumption here is that you already authenticated and able to access the API.\nIf not, please follow the [Authentication](#tag/Authentication) section first.\n\n</div>\n\nHere is an example of the real use-case for the External Order creation.\nLet's say, you'd like to create an order for the following client:\n\n| Field        | Value                                     |\n|--------------|-------------------------------------------|\n| Client name  | John Doe                                  |\n| Company name | ACME                                      |\n| Phone        | +33 612345678                             |\n| Email        | john@acme.com                             |\n| Address      | 123, Rue de Foo Bar, Paris, 75001, France |\n\nwith the following content:\n\n| Product SKU | Quantity |\n|-------------|----------|\n| AB-1234     | 12       |\n| CD-00-XY    | 5        |\n\nIn this scenario, you should take the following steps:\n\n#### [1] Find the fulfillable identifiers for the given products\n\nThis can be achieved by sending a request to the [List Product Variants](#tag/Catalog/operation/list-product-variants-with-stock)\n\n```\n[GET] /api/v1/product-variants?filter[sku]=AB-1234,CD-00-XY\n```\n\nand finding the fulfillable identifiers for the desired products.\n\nAs a result of this step, you should have the following information:\n\n| Product SKU | Quantity | Fulfillable ID                       |\n|-------------|----------|--------------------------------------|\n| AB-1234     | 12       | 1ac37dbf-f25d-4c0c-bcc8-ad8af946b541 |\n| CD-00-XY    | 5        | e5e91243-d11a-47a3-9308-22af70da5bc4 |\n\n#### [2] Find the information about the available stocks for the products\n\nThis information can be retrieved by sending a request to [List Fulfillable Endpoint](#tag/Fulfillment/operation/fulfillment-list-fulfillable).\nWith the fulfillable identifiers from the previous step, you can send the following request:\n\n```\n[GET] /api/v1/fulfillment/fulfillable?fulfillableIds[]=1ac37dbf-f25d-4c0c-bcc8-ad8af946b541&=fulfillableIds[]=e5e91243-d11a-47a3-9308-22af70da5bc4\n```\n\nand get quantity information for the given fulfillables from the response.\n\nFor each requested fulfillable item, the response of this endpoint contains 2 properties:\n\n- `unitQuantity` - the total available quantity of the product, in minimal atomic units (e.g. bottles)\n- `batchQuantity` - the total available quantity of the batches (packs) of the product (e.g. boxes of bottles)\n\nHaving these 2 properties, you should check 2 things, before move on:\n\n1. The planned quantity for the corresponding product in the order should not exceed `unitQuantity` from the response.\n   If the requested quantity is greater than the `unitQuantity`, the request will be rejected.\n2. The requested quantity of the product should be evenly divisible by the \"batchSize\", which can be calculated\n   by dividing returned `unitQuantity` by the `batchQuantity`. This is required because the Fulfillment Center can only\n   fulfill products by the whole batches (packs). Violating this rule will result in the rejection of the request.\n\nAfter these simply calculations, you should end up with the following information:\n\n| Product SKU | Quantity | Fulfillable ID                       | Batch Size |\n|-------------|----------|--------------------------------------|------------|\n| AB-1234     | 12       | 1ac37dbf-f25d-4c0c-bcc8-ad8af946b541 | 3          |\n| CD-00-XY    | 5        | e5e91243-d11a-47a3-9308-22af70da5bc4 | 5          |\n\nas you can see here, the quantities are evenly divisible by the batch sizes, which means the products information is\nready to go. For instance, the products from our example will be fulfilled by 4 packs of `AB-1234` and 1 pack of `CD-00-XY`.\n\n#### [3] Validate the shipping address\n\nThe next step is to validate the shipping address. As it was mentioned before, the address properties should\ncorrespond to each other and be valid.\n\nSo the user information in this example looks valid and the only thing left is to distribute the address fields\nto the corresponding properties:\n```json5\n{\n    \"country\": \"FR\", // ISO 3166-1 alpha-2 country code\n    \"postalCode\": \"75001\", // Valid postal code for France\n    \"city\": \"Paris\",\n    \"street\": \"123, Rue de Foo Bar\", // 60 characters max, otherwise will not fit the place on the printed label\n    \"company\": \"ACME\",\n    \"firstName\": \"John\",\n    \"lastName\": \"Doe\",\n    \"phone\": \"+33 612345678\", // Valid phone number for France\n    \"email\": \"john@acme.com\"\n}\n\n```\n\n#### [4] Generate unique identifier for the order\n\nThe next step is to generate UUID (preferably [UUIDv6](https://www.ietf.org/archive/id/draft-peabody-dispatch-new-uuid-format-04.html#name-uuid-version-6)) for the order being created.\nYou can use any library of your choice to generate it, the only requirement is that it should follow the specification.\n\n#### [5] Send the request to the API\n\nAt this point, you are ready to send the request to the API. What is left to do is to prepare API request payload by putting\ntogether all the information collected in the previous steps. For the exact payload structure, please refer to the\n[endpoint specification](#tag/Ordering/operation/ordering-create-non-ankorstore-fulfillment-order).\n\nThe successful acceptance of the request does not mean 100% guarantee that the order will be fulfilled by Fulfillment\nCentre. The validation on the Fulfillment Centre side is usually taking some time, so you should check the status of\nthe order by sending request to the [Get Master Order](#tag/Ordering/operation/get-master-order) endpoint, using the\ngenerated UUID as an identifier and including the `externalOrder` relation. The status of the included _External Order_\nwill indicate the actual status of the order.\n\n## ⚠️ Deprecation notice\n\n<div class=\"warning\">\n\nSome of the endpoints and documents from this section are deprecated and will be removed in the future.\nYou can temporarily still find them [here](#tag/Deprecated).\n\n</div>\n"
paths:
  /api/v1/ordering/billing-exports:
    post:
      summary: Create Billing Export
      operationId: ordering-billing-exports-create
      description: Allow brands to request a bulk billing export
      tags:
      - Ordering
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - billing-exports
                    attributes:
                      type: object
                      properties:
                        exports:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - accounting
                                - accounting_complete
                                - invoicing
                              formats:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - csv
                                  - xlsx
                                  - pdf
                            required:
                            - type
                            - formats
                        from:
                          type: string
                          format: date
                        to:
                          type: string
                          format: date
                      required:
                      - from
                      - to
                      - exports
                  required:
                  - attributes
              required:
              - data
      responses:
        '200':
          description: Single Billing Export
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id001
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                      id:
                        type: string
                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                        format: uuid
                      attributes:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - invoicing
                            - accounting
                          brandUuid:
                            type: string
                            format: uuid
                          filename:
                            type: string
                          status:
                            type: string
                            enum:
                            - created
                            - in_process
                            - completed
                            - partially_completed
                            - failed
                          from:
                            type: string
                            format: date-time
                          to:
                            type: string
                            format: date-time
                          expiresAt:
                            type: string
                            format: date-time
                          finishedAt:
                            type:
                            - 'null'
                            - string
                            format: date-time
                          downloadLink:
                            type:
                            - 'null'
                            - string
                            format: url
                        required:
                        - type
                        - brandUuid
                        - filename
                        - status
                        - from
                        - to
                        - expiresAt
                    required:
                    - type
                    - id
                    - attributes
                required:
                - data
                - jsonapi
        '400':
          description: Bad request
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id002
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id001
                    additionalProperties: false
                required: &id003
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Bad request
                  status: '400'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: string
                errors:
                - detail: The field is required.
                  source:
                    pointer: data.attributes.field
                  status: '422'
                  title: Unprocessable Content
        '500':
          description: '[Server Error](https://jsonapi.org/format/#errors)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id002
                required: *id003
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Server Error
                  status: '500'
    get:
      summary: List Billing Exports
      operationId: ordering-billing-exports-list
      description: Returns a list of billing exports for the authenticated brand
      tags:
      - Ordering
      responses:
        '200':
          description: Collection of billing exports
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id004
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                        id:
                          type: string
                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                          format: uuid
                        attributes:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - invoicing
                              - accounting
                            brandUuid:
                              type: string
                              format: uuid
                            filename:
                              type: string
                            status:
                              type: string
                              enum:
                              - created
                              - in_process
                              - completed
                              - partially_completed
                              - failed
                            from:
                              type: string
                              format: date-time
                            to:
                              type: string
                              format: date-time
                            expiresAt:
                              type: string
                              format: date-time
                            finishedAt:
                              type:
                              - 'null'
                              - string
                              format: date-time
                            downloadLink:
                              type:
                              - 'null'
                              - string
                              format: url
                          required:
                          - type
                          - brandUuid
                          - filename
                          - status
                          - from
                          - to
                          - expiresAt
                      required:
                      - type
                      - id
                      - attributes
                required:
                - data
                - jsonapi
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id005
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id004
                    additionalProperties: false
                required: &id006
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
  /api/v1/ordering/billing-exports/{billing_export}/-actions/download:
    get:
      summary: Download a Billing Export
      operationId: ordering-billing-exports-download
      description: Downloads a completed billing export
      tags:
      - Ordering
      parameters:
      - schema:
          type: string
          format: uuid
        name: billing_export
        in: path
        required: true
        description: Uuid of the Billing Export to download
      responses:
        '200':
          description: Returns billing export file content in body
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      file:
                        type: string
                        format: binary
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id007
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id008
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id007
                    additionalProperties: false
                required: &id009
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id008
                required: *id009
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id008
                required: *id009
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id008
                required: *id009
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id008
                required: *id009
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '500':
          description: '[Server Error](https://jsonapi.org/format/#errors)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id008
                required: *id009
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Server Error
                  status: '500'
  /api/v1/master-orders:
    get:
      summary: List Master Orders
      description: Retrieve a list of Master Orders
      operationId: list-master-orders
      tags:
      - Ordering
      parameters:
      - name: include
        in: query
        allowEmptyValue: true
        required: false
        schema:
          type: string
          enum:
          - internalOrder
          - externalOrder
          - shipment
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: page[limit]
        in: query
        description: limit the amount of results returned
        required: false
        schema:
          type: integer
          format: int64
      - name: page[before]
        in: query
        description: show items before the provided ID (uuid format)
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        description: show items after the provided ID (uuid format)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: '[OK](https://jsonapi.org/format/#fetching-resources-responses-200)'
          content:
            application/vnd.api+json:
              schema:
                title: Master Order List
                type: object
                additionalProperties: false
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id013
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  meta:
                    type: object
                    description: Meta with Pagination Details
                    required:
                    - page
                    additionalProperties: true
                    properties:
                      page:
                        description: Cursor pagination details
                        type: object
                        properties:
                          from:
                            type:
                            - string
                            - 'null'
                          to:
                            type:
                            - string
                            - 'null'
                          hasMore:
                            type: boolean
                          perPage:
                            type: integer
                        required:
                        - from
                        - to
                        - perPage
                  links:
                    description: Pagination navigation links. If a link does not exist then you cannot paginate any further in that direction.
                    type: object
                    properties:
                      first:
                        type: string
                        format: url
                      next:
                        type: string
                        format: url
                      prev:
                        type: string
                        format: url
                  data:
                    type: array
                    items:
                      title: Master Order
                      type: object
                      additionalProperties: false
                      properties:
                        type:
                          type: string
                          default: master-orders
                        id:
                          type: string
                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                          format: uuid
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            internalOrder:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: internal-orders
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                            externalOrder:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: external-orders
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                            shipment:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: shipments
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                  included:
                    description: One of the included resources
                    type: array
                    items:
                      anyOf:
                      - description: The resource object for Order
                        type: object
                        additionalProperties: false
                        title: Order Resource
                        properties:
                          type:
                            type: string
                            default: orders
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            properties:
                              masterOrderId:
                                type: string
                                description: The identifier of the linked master order
                                format: uuid
                              status:
                                type: string
                                example: ankor_confirmed
                                enum:
                                - ankor_confirmed
                                - rejected
                                - brand_confirmed
                                - shipping_labels_generated
                                - fulfillment_requested
                                - shipped
                                - reception_refused
                                - received
                                - invoiced
                                - brand_paid
                                - cancelled
                              reference:
                                type: integer
                                description: The order reference used on shipping labels, communication etc
                              brandCurrency:
                                type: string
                                description: The currency the brand is paid in
                              brandNetAmount:
                                description: The amount the brand is paid (total - fees - shipping cost + shipping refund). You may find the Ankorstore fees and the other amounts by including the orders billing items.
                                type: integer
                              brandTotalAmount:
                                description: The total of all order items not including VAT
                                type: integer
                              brandTotalAmountVat:
                                description: The total VAT of all order items
                                type: integer
                              brandTotalAmountWithVat:
                                description: The total of all order items including VAT
                                type: integer
                              shippingMethod:
                                type:
                                - 'null'
                                - string
                                description: The chosen shipping method after going through the shipping process
                                enum:
                                - ankorstore
                                - custom
                                - null
                              shippingOverview:
                                title: Order Resource -> Shipping Overview
                                description: Contains all information related to either shipping method (`ankorstore` or `custom`). This field is ONLY included when fetching a single order at a time.
                                type: object
                                properties:
                                  availableShippingMethods:
                                    type: array
                                    description: Available shipping methods to use. Custom is ship with your own carrier outside of Ankorstore.
                                    items:
                                      enum:
                                      - ankorstore
                                      - custom
                                  shipToAddress:
                                    type: object
                                    description: The address the order needs to be shipped to
                                    required:
                                    - street
                                    - city
                                    - postalCode
                                    properties:
                                      name:
                                        type:
                                        - 'null'
                                        - string
                                        description: The first and last name of the recipient
                                      organisationName:
                                        type:
                                        - 'null'
                                        - string
                                        description: The organisational name of the recipient
                                      street:
                                        type:
                                        - 'null'
                                        - string
                                      city:
                                        type:
                                        - 'null'
                                        - string
                                      postalCode:
                                        type:
                                        - 'null'
                                        - string
                                      countryCode:
                                        type:
                                        - 'null'
                                        - string
                                  expectedShippingDates:
                                    type: object
                                    description: The minimum and maximum expected shipping dates
                                    required:
                                    - minimum
                                    - maximum
                                    properties:
                                      minimum:
                                        type: string
                                        format: datetime
                                      maximum:
                                        type: string
                                        format: datetime
                                      updatedMaximum:
                                        type:
                                        - 'null'
                                        - string
                                        format: datetime
                                  provider:
                                    type:
                                    - 'null'
                                    - string
                                    description: The company providing the shipping service
                                    enum:
                                    - ups
                                    - tnt
                                    - gls
                                    - dpd
                                    - dhl
                                    - dhl_express
                                    - colissimo
                                    - chronopost
                                    - null
                                  tracking:
                                    type:
                                    - 'null'
                                    - object
                                    description: Tracking details of the order
                                    properties:
                                      number:
                                        type: string
                                      link:
                                        type: string
                                        format: url
                                        description: A URL to view the tracking status
                                  latestQuote:
                                    description: 'The quote is the price of the parcel(s) shipping.

                                      If this object is null then no quote has been generated.'
                                    type:
                                    - 'null'
                                    - object
                                    properties:
                                      id:
                                        type: string
                                        description: Id of the last quote generated. Every time a ship call is done, a new calculation is made based on parcels dimensions and weight sent
                                      provider:
                                        type: string
                                        enum:
                                        - custom
                                        - ups
                                        description: 'Provider responsible for the calculation. If custom, the calculation is done by Ankorstore and refunded.

                                          If any other, the calculation is done by the provider and the shipping price is covered by Ankorstore (most of the case, see shippingCostsOverview section).'
                                      rateProvider:
                                        type: string
                                        description: The provider of the rate for `rateAmount`.
                                        enum:
                                        - ups
                                        - ankorstore
                                      rateAmount:
                                        type: object
                                        description: Amount calculated for the parcels provided.
                                        properties:
                                          amount:
                                            type: integer
                                            description: Lowest denomination of the currency this amount belongs to.
                                          currency:
                                            type: string
                                      shippingCostsOverview:
                                        type: object
                                        description: Overview of costs related to shipping. This object is displayed only if a shipping cost fee or a refund exists
                                        properties:
                                          amount:
                                            type: integer
                                            description: Lowest denomination of the currency this amount belongs to.
                                          currency:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - refund
                                            - fee
                                            description: 'Type of shipping costs:

                                              If type = `refund` the amount will be refunded to the brand (added to brand net amount).

                                              if type = `fee` the amount will be subtracted from brand net amount as a contribution to shipping costs.'
                                    required:
                                    - id
                                    - provider
                                  parcels:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      description: Shipping Label Parcel
                                      type: object
                                      properties:
                                        length:
                                          type: integer
                                          maximum: 274
                                        width:
                                          type: integer
                                          maximum: 274
                                        height:
                                          type: integer
                                          maximum: 274
                                        distanceUnit:
                                          type: string
                                          description: The unit of distance
                                          enum:
                                          - cm
                                        weight:
                                          type: integer
                                          minimum: 1
                                          maximum: 30000
                                        massUnit:
                                          type: string
                                          description: The unit of mass
                                          enum:
                                          - g
                                        trackedPackage:
                                          type:
                                          - 'null'
                                          - object
                                          description: The tracking per parcel
                                          properties:
                                            labelUrl:
                                              description: The URL to download the shipping label
                                              type:
                                              - 'null'
                                              - string
                                              format: url
                                            eta:
                                              type:
                                              - 'null'
                                              - string
                                              format: datetime
                                            trackingNumber:
                                              type: string
                                            trackingLink:
                                              type: string
                                            currentStatus:
                                              type: object
                                              properties: &id010
                                                status:
                                                  type: string
                                                  description: The current status of the order/parcel
                                                  enum:
                                                  - UNKNOWN
                                                  - PRE_TRANSIT
                                                  - DELIVERED
                                                  - RETURNED
                                                  - FAILURE
                                                statusDetails:
                                                  description: Human readable version of status
                                                  type:
                                                  - string
                                                  - 'null'
                                                updatedAt:
                                                  type: string
                                                  description: Last time the status was updated
                                                  format: datetime
                                                location:
                                                  type: object
                                                  description: Last known location
                                                  properties:
                                                    city:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    state:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    zip:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    country:
                                                      type:
                                                      - 'null'
                                                      - string
                                          required:
                                          - labelUrl
                                          - eta
                                          - trackingLink
                                          - currentStatus
                                      required:
                                      - length
                                      - width
                                      - height
                                      - distanceUnit
                                      - weight
                                      - massUnit
                                      - trackedPackage
                                  transaction:
                                    type:
                                    - 'null'
                                    - object
                                    properties:
                                      pickup:
                                        description: The scheduled pickup, requires an API call to be made after the shipping labels have been generated.
                                        type:
                                        - 'null'
                                        - object
                                        required:
                                        - pickupDate
                                        - closeTime
                                        - readyTime
                                        - externalReferenceId
                                        properties:
                                          pickupDate:
                                            type: string
                                            format: datetime
                                            description: The date of the pickup
                                          readyTime:
                                            type: string
                                            description: 'Opening time of pickup Eg: 10:00:00'
                                          closeTime:
                                            type: string
                                            description: 'Close time (pickup required to happen before this time) Eg: 13:00:00'
                                          externalReferenceId:
                                            type: string
                                            description: The reference number for this pickup
                                      tracking:
                                        description: The tracking details for the overall shipment
                                        type: object
                                        properties:
                                          eta:
                                            type:
                                            - 'null'
                                            - string
                                            format: datetime
                                            description: The estimated time of arrival for the order
                                          trackingNumber:
                                            type: string
                                            description: The tracking number of the order
                                          trackingLink:
                                            type: string
                                            format: url
                                            description: The tracking link for the order
                                          currentStatus:
                                            type: object
                                            properties: *id010
                                    required:
                                    - pickup
                                    - tracking
                                required:
                                - availableShippingMethods
                                - shipToAddress
                                - expectedShippingDates
                              brandRejectReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the brand has given for rejecting the order
                              retailerRejectReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the retailer rejected the reception of the order
                              retailerCancellationRequestReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the retailer has given for a cancellation request
                              billingName:
                                type:
                                - 'null'
                                - string
                                description: The billing address name
                              billingOrganisationName:
                                type:
                                - 'null'
                                - string
                                description: The billing address organisation name
                              billingStreet:
                                type:
                                - 'null'
                                - string
                                description: The billing address street name
                              billingPostalCode:
                                type:
                                - 'null'
                                - string
                                description: The billing address postal code
                              billingCity:
                                type:
                                - 'null'
                                - string
                                description: The billing address city
                              billingCountryCode:
                                type:
                                - 'null'
                                - string
                                description: The billing address country code - ISO format
                              submittedAt:
                                type: string
                                format: datetime
                                description: The timestamp of when the order was submitted (order is placed)
                              shippedAt:
                                type:
                                - 'null'
                                - string
                                format: datetime
                                description: The timestamp of when the order was shipped
                              brandPaidAt:
                                type:
                                - 'null'
                                - string
                                format: datetime
                                description: The timestamp of when the brand was paid
                              createdAt:
                                type: string
                                format: datetime
                                description: (deprecated) The timestamp of when the order was created (before retailer payment)
                              updatedAt:
                                type: string
                                format: datetime
                                description: The timestamp of when the order was updated (does not include other resources)
                          relationships:
                            type: object
                            properties:
                              retailer:
                                description: Related Retailer Resource
                                type: object
                                properties:
                                  data:
                                    allOf:
                                    - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                      type: object
                                      required: &id011
                                      - id
                                      - type
                                      properties: &id012
                                        id:
                                          type: string
                                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                          format: uuid
                                        type:
                                          type: string
                                          description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                        meta:
                                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                          type: object
                                          additionalProperties: true
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        type:
                                          const: retailers
                              billingItems:
                                description: Related Billing Item Resources
                                type: object
                                properties:
                                  data:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      allOf:
                                      - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                        type: object
                                        required: *id011
                                        properties: *id012
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          type:
                                            const: billing-items
                              orderItems:
                                description: Related Order Item Resources
                                type: object
                                properties:
                                  data:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      allOf:
                                      - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                        type: object
                                        required: *id011
                                        properties: *id012
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          type:
                                            const: order-items
                              orderItems-productOption:
                                description: 'Schema: Order Item -> Product Option Resource'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required: *id011
                                    properties: *id012
                                    additionalProperties: false
                              orderItems-productOption-product:
                                description: 'Schema: Order Item -> Product Option Resource -> Product'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required: *id011
                                    properties: *id012
                                    additionalProperties: false
                              orderItems-productVariant:
                                description: 'Schema: Order Item -> Product Variant Resource'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required: *id011
                                    properties: *id012
                                    additionalProperties: false
                              orderItems-productVariant-product:
                                description: 'Schema: Order Item -> Product Variant Resource -> Product'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required: *id011
                                    properties: *id012
                                    additionalProperties: false
                        required:
                        - type
                        - id
                      - title: Order Item Resource
                        type: object
                        additionalProperties: false
                        examples:
                        - type: order-items
                          id: 62b263a8-00e1-1ecb-98d2-0242ac170007
                          attributes:
                            brandCurrency: EUR
                            quantity: 1
                            multipliedQuantity: 12
                            vatRate: 5.5
                            brandAmount: 3996
                            brandAmountVat: 220
                            brandAmountWithVat: 4216
                            brandUnitPrice: 333
                            createdAt: '2022-02-02T19:43:14.000000Z'
                            updatedAt: '2022-02-02T19:43:14.000000Z'
                          relationships:
                            productOption:
                              data:
                                type: productOption
                                id: '114135'
                        properties:
                          type:
                            type: string
                            default: order-items
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            properties:
                              brandCurrency:
                                type: string
                                description: The currency of the amounts for the brand
                              quantity:
                                type: integer
                                description: The ordered quantity of the product
                              multipliedQuantity:
                                type: integer
                                description: Some products are sold in fixed quantities, e.g a case of 6 wine bottles. If the quantity was 2, the multiplied quantity of wine bottles would be 12 (6 x 2). This "unitMultiplier" can be found on the product.
                              vatRate:
                                type: number
                                format: float
                                description: The VAT percentage rate of the order item (0-100)
                              brandAmount:
                                description: The amount due to the brand for this item
                                type: integer
                              brandAmountVat:
                                description: The VAT amount due to the brand for this item
                                type: integer
                              brandAmountWithVat:
                                description: The amount + VAT due to the brand for this item
                                type: integer
                              brandUnitPrice:
                                description: The cost of a single unit of this item
                                type: integer
                              createdAt:
                                type: string
                                format: datetime
                                description: The timestamp this order item was created
                              updatedAt:
                                type: string
                                format: datetime
                                description: The timestamp this order item was updated
                          relationships:
                            type: object
                            properties:
                              productOptions:
                                description: 'Reference: Product Option Resource'
                                type: object
                                properties:
                                  data:
                                    description: An array of objects each containing `type` and `id` members for to-many relationships.
                                    type: array
                                    items:
                                      description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                      type: object
                                      required: *id011
                                      properties: *id012
                                      additionalProperties: false
                                    uniqueItems: true
                          meta:
                            description: Non-standard meta-information that can not be represented as an attribute or relationship.
                            type: object
                            additionalProperties: true
                        required:
                        - type
                        - id
                      - type: object
                        title: External Order Resource
                        description: The resource object for External Order
                        additionalProperties: false
                        properties:
                          type:
                            type: string
                            default: external-orders
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            required:
                            - status
                            - shippingAddress
[...]
