openapi: 3.2.0
info:
  version: 1.0.0
  title: Ankorstore Public Ordering API
  description: 'The Ankorstore API enables brands and their partners to programmatically manage their presence on the

    Ankorstore wholesale marketplace.'
  contact:
    name: Ankorstore Support
    email: api@ankorstore.com
    url: https://www.ankorstore.com
  license:
    name: CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/
  x-prefix: Ankorstore
  x-logo:
    url: https://cdn.ankorstore.com/images/logo/logo-black.svg
    altText: Ankorstore
    href: /
servers:
- url: https://www.public.ankorstore-sandbox.com
  description: Staging Environment
- url: https://www.ankorstore.com
  description: Production Environment
security:
- ProductionOAuth2ClientCredentials: []
tags:
- name: Ordering
  description: ℹ️ This section of API allows to manage different types of orders in the system.
paths:
  /api/v1/ordering/billing-exports:
    post:
      summary: Create Billing Export
      operationId: ordering-billing-exports-create
      description: Allow brands to request a bulk billing export
      tags:
      - Ordering
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - billing-exports
                    attributes:
                      type: object
                      properties:
                        exports:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - accounting
                                - accounting_complete
                                - invoicing
                              formats:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - csv
                                  - xlsx
                                  - pdf
                            required:
                            - type
                            - formats
                        from:
                          type: string
                          format: date
                        to:
                          type: string
                          format: date
                      required:
                      - from
                      - to
                      - exports
                  required:
                  - attributes
              required:
              - data
      responses:
        '200':
          description: Single Billing Export
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                      id:
                        type: string
                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                        format: uuid
                      attributes:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - invoicing
                            - accounting
                          brandUuid:
                            type: string
                            format: uuid
                          filename:
                            type: string
                          status:
                            type: string
                            enum:
                            - created
                            - in_process
                            - completed
                            - partially_completed
                            - failed
                          from:
                            type: string
                            format: date-time
                          to:
                            type: string
                            format: date-time
                          expiresAt:
                            type: string
                            format: date-time
                          finishedAt:
                            type:
                            - 'null'
                            - string
                            format: date-time
                          downloadLink:
                            type:
                            - 'null'
                            - string
                            format: url
                        required:
                        - type
                        - brandUuid
                        - filename
                        - status
                        - from
                        - to
                        - expiresAt
                    required:
                    - type
                    - id
                    - attributes
                required:
                - data
                - jsonapi
        '400':
          description: Bad request
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Bad request
                  status: '400'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: string
                errors:
                - detail: The field is required.
                  source:
                    pointer: data.attributes.field
                  status: '422'
                  title: Unprocessable Content
        '500':
          description: '[Server Error](https://jsonapi.org/format/#errors)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Server Error
                  status: '500'
    get:
      summary: List Billing Exports
      operationId: ordering-billing-exports-list
      description: Returns a list of billing exports for the authenticated brand
      tags:
      - Ordering
      responses:
        '200':
          description: Collection of billing exports
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                        id:
                          type: string
                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                          format: uuid
                        attributes:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - invoicing
                              - accounting
                            brandUuid:
                              type: string
                              format: uuid
                            filename:
                              type: string
                            status:
                              type: string
                              enum:
                              - created
                              - in_process
                              - completed
                              - partially_completed
                              - failed
                            from:
                              type: string
                              format: date-time
                            to:
                              type: string
                              format: date-time
                            expiresAt:
                              type: string
                              format: date-time
                            finishedAt:
                              type:
                              - 'null'
                              - string
                              format: date-time
                            downloadLink:
                              type:
                              - 'null'
                              - string
                              format: url
                          required:
                          - type
                          - brandUuid
                          - filename
                          - status
                          - from
                          - to
                          - expiresAt
                      required:
                      - type
                      - id
                      - attributes
                required:
                - data
                - jsonapi
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
  /api/v1/ordering/billing-exports/{billing_export}/-actions/download:
    get:
      summary: Download a Billing Export
      operationId: ordering-billing-exports-download
      description: Downloads a completed billing export
      tags:
      - Ordering
      parameters:
      - schema:
          type: string
          format: uuid
        name: billing_export
        in: path
        required: true
        description: Uuid of the Billing Export to download
      responses:
        '200':
          description: Returns billing export file content in body
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      file:
                        type: string
                        format: binary
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '500':
          description: '[Server Error](https://jsonapi.org/format/#errors)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                required:
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Server Error
                  status: '500'
  /api/v1/master-orders:
    get:
      summary: List Master Orders
      description: Retrieve a list of Master Orders
      operationId: list-master-orders
      tags:
      - Ordering
      parameters:
      - name: include
        in: query
        allowEmptyValue: true
        required: false
        schema:
          type: string
          enum:
          - internalOrder
          - externalOrder
          - shipment
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: page[limit]
        in: query
        description: limit the amount of results returned
        required: false
        schema:
          type: integer
          format: int64
      - name: page[before]
        in: query
        description: show items before the provided ID (uuid format)
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        description: show items after the provided ID (uuid format)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: '[OK](https://jsonapi.org/format/#fetching-resources-responses-200)'
          content:
            application/vnd.api+json:
              schema:
                title: Master Order List
                type: object
                additionalProperties: false
                properties:
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  meta:
                    type: object
                    description: Meta with Pagination Details
                    required:
                    - page
                    additionalProperties: true
                    properties:
                      page:
                        description: Cursor pagination details
                        type: object
                        properties:
                          from:
                            type:
                            - string
                            - 'null'
                          to:
                            type:
                            - string
                            - 'null'
                          hasMore:
                            type: boolean
                          perPage:
                            type: integer
                        required:
                        - from
                        - to
                        - perPage
                  links:
                    description: Pagination navigation links. If a link does not exist then you cannot paginate any further in that direction.
                    type: object
                    properties:
                      first:
                        type: string
                        format: url
                      next:
                        type: string
                        format: url
                      prev:
                        type: string
                        format: url
                  data:
                    type: array
                    items:
                      title: Master Order
                      type: object
                      additionalProperties: false
                      properties:
                        type:
                          type: string
                          default: master-orders
                        id:
                          type: string
                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                          format: uuid
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            internalOrder:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: internal-orders
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                            externalOrder:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: external-orders
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                            shipment:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      default: shipments
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                  included:
                    description: One of the included resources
                    type: array
                    items:
                      anyOf:
                      - description: The resource object for Order
                        type: object
                        additionalProperties: false
                        title: Order Resource
                        properties:
                          type:
                            type: string
                            default: orders
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            properties:
                              masterOrderId:
                                type: string
                                description: The identifier of the linked master order
                                format: uuid
                              status:
                                type: string
                                example: ankor_confirmed
                                enum:
                                - ankor_confirmed
                                - rejected
                                - brand_confirmed
                                - shipping_labels_generated
                                - fulfillment_requested
                                - shipped
                                - reception_refused
                                - received
                                - invoiced
                                - brand_paid
                                - cancelled
                              reference:
                                type: integer
                                description: The order reference used on shipping labels, communication etc
                              brandCurrency:
                                type: string
                                description: The currency the brand is paid in
                              brandNetAmount:
                                description: The amount the brand is paid (total - fees - shipping cost + shipping refund). You may find the Ankorstore fees and the other amounts by including the orders billing items.
                                type: integer
                              brandTotalAmount:
                                description: The total of all order items not including VAT
                                type: integer
                              brandTotalAmountVat:
                                description: The total VAT of all order items
                                type: integer
                              brandTotalAmountWithVat:
                                description: The total of all order items including VAT
                                type: integer
                              shippingMethod:
                                type:
                                - 'null'
                                - string
                                description: The chosen shipping method after going through the shipping process
                                enum:
                                - ankorstore
                                - custom
                                - null
                              shippingOverview:
                                title: Order Resource -> Shipping Overview
                                description: Contains all information related to either shipping method (`ankorstore` or `custom`). This field is ONLY included when fetching a single order at a time.
                                type: object
                                properties:
                                  availableShippingMethods:
                                    type: array
                                    description: Available shipping methods to use. Custom is ship with your own carrier outside of Ankorstore.
                                    items:
                                      enum:
                                      - ankorstore
                                      - custom
                                  shipToAddress:
                                    type: object
                                    description: The address the order needs to be shipped to
                                    required:
                                    - street
                                    - city
                                    - postalCode
                                    properties:
                                      name:
                                        type:
                                        - 'null'
                                        - string
                                        description: The first and last name of the recipient
                                      organisationName:
                                        type:
                                        - 'null'
                                        - string
                                        description: The organisational name of the recipient
                                      street:
                                        type:
                                        - 'null'
                                        - string
                                      city:
                                        type:
                                        - 'null'
                                        - string
                                      postalCode:
                                        type:
                                        - 'null'
                                        - string
                                      countryCode:
                                        type:
                                        - 'null'
                                        - string
                                  expectedShippingDates:
                                    type: object
                                    description: The minimum and maximum expected shipping dates
                                    required:
                                    - minimum
                                    - maximum
                                    properties:
                                      minimum:
                                        type: string
                                        format: datetime
                                      maximum:
                                        type: string
                                        format: datetime
                                      updatedMaximum:
                                        type:
                                        - 'null'
                                        - string
                                        format: datetime
                                  provider:
                                    type:
                                    - 'null'
                                    - string
                                    description: The company providing the shipping service
                                    enum:
                                    - ups
                                    - tnt
                                    - gls
                                    - dpd
                                    - dhl
                                    - dhl_express
                                    - colissimo
                                    - chronopost
                                    - null
                                  tracking:
                                    type:
                                    - 'null'
                                    - object
                                    description: Tracking details of the order
                                    properties:
                                      number:
                                        type: string
                                      link:
                                        type: string
                                        format: url
                                        description: A URL to view the tracking status
                                  latestQuote:
                                    description: 'The quote is the price of the parcel(s) shipping.

                                      If this object is null then no quote has been generated.'
                                    type:
                                    - 'null'
                                    - object
                                    properties:
                                      id:
                                        type: string
                                        description: Id of the last quote generated. Every time a ship call is done, a new calculation is made based on parcels dimensions and weight sent
                                      provider:
                                        type: string
                                        enum:
                                        - custom
                                        - ups
                                        description: 'Provider responsible for the calculation. If custom, the calculation is done by Ankorstore and refunded.

                                          If any other, the calculation is done by the provider and the shipping price is covered by Ankorstore (most of the case, see shippingCostsOverview section).'
                                      rateProvider:
                                        type: string
                                        description: The provider of the rate for `rateAmount`.
                                        enum:
                                        - ups
                                        - ankorstore
                                      rateAmount:
                                        type: object
                                        description: Amount calculated for the parcels provided.
                                        properties:
                                          amount:
                                            type: integer
                                            description: Lowest denomination of the currency this amount belongs to.
                                          currency:
                                            type: string
                                      shippingCostsOverview:
                                        type: object
                                        description: Overview of costs related to shipping. This object is displayed only if a shipping cost fee or a refund exists
                                        properties:
                                          amount:
                                            type: integer
                                            description: Lowest denomination of the currency this amount belongs to.
                                          currency:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - refund
                                            - fee
                                            description: 'Type of shipping costs:

                                              If type = `refund` the amount will be refunded to the brand (added to brand net amount).

                                              if type = `fee` the amount will be subtracted from brand net amount as a contribution to shipping costs.'
                                    required:
                                    - id
                                    - provider
                                  parcels:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      description: Shipping Label Parcel
                                      type: object
                                      properties:
                                        length:
                                          type: integer
                                          maximum: 274
                                        width:
                                          type: integer
                                          maximum: 274
                                        height:
                                          type: integer
                                          maximum: 274
                                        distanceUnit:
                                          type: string
                                          description: The unit of distance
                                          enum:
                                          - cm
                                        weight:
                                          type: integer
                                          minimum: 1
                                          maximum: 30000
                                        massUnit:
                                          type: string
                                          description: The unit of mass
                                          enum:
                                          - g
                                        trackedPackage:
                                          type:
                                          - 'null'
                                          - object
                                          description: The tracking per parcel
                                          properties:
                                            labelUrl:
                                              description: The URL to download the shipping label
                                              type:
                                              - 'null'
                                              - string
                                              format: url
                                            eta:
                                              type:
                                              - 'null'
                                              - string
                                              format: datetime
                                            trackingNumber:
                                              type: string
                                            trackingLink:
                                              type: string
                                            currentStatus:
                                              type: object
                                              properties:
                                                status:
                                                  type: string
                                                  description: The current status of the order/parcel
                                                  enum:
                                                  - UNKNOWN
                                                  - PRE_TRANSIT
                                                  - DELIVERED
                                                  - RETURNED
                                                  - FAILURE
                                                statusDetails:
                                                  description: Human readable version of status
                                                  type:
                                                  - string
                                                  - 'null'
                                                updatedAt:
                                                  type: string
                                                  description: Last time the status was updated
                                                  format: datetime
                                                location:
                                                  type: object
                                                  description: Last known location
                                                  properties:
                                                    city:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    state:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    zip:
                                                      type:
                                                      - 'null'
                                                      - string
                                                    country:
                                                      type:
                                                      - 'null'
                                                      - string
                                          required:
                                          - labelUrl
                                          - eta
                                          - trackingLink
                                          - currentStatus
                                      required:
                                      - length
                                      - width
                                      - height
                                      - distanceUnit
                                      - weight
                                      - massUnit
                                      - trackedPackage
                                  transaction:
                                    type:
                                    - 'null'
                                    - object
                                    properties:
                                      pickup:
                                        description: The scheduled pickup, requires an API call to be made after the shipping labels have been generated.
                                        type:
                                        - 'null'
                                        - object
                                        required:
                                        - pickupDate
                                        - closeTime
                                        - readyTime
                                        - externalReferenceId
                                        properties:
                                          pickupDate:
                                            type: string
                                            format: datetime
                                            description: The date of the pickup
                                          readyTime:
                                            type: string
                                            description: 'Opening time of pickup Eg: 10:00:00'
                                          closeTime:
                                            type: string
                                            description: 'Close time (pickup required to happen before this time) Eg: 13:00:00'
                                          externalReferenceId:
                                            type: string
                                            description: The reference number for this pickup
                                      tracking:
                                        description: The tracking details for the overall shipment
                                        type: object
                                        properties:
                                          eta:
                                            type:
                                            - 'null'
                                            - string
                                            format: datetime
                                            description: The estimated time of arrival for the order
                                          trackingNumber:
                                            type: string
                                            description: The tracking number of the order
                                          trackingLink:
                                            type: string
                                            format: url
                                            description: The tracking link for the order
                                          currentStatus:
                                            type: object
                                            properties:
                                              status:
                                                type: string
                                                description: The current status of the order/parcel
                                                enum:
                                                - UNKNOWN
                                                - PRE_TRANSIT
                                                - DELIVERED
                                                - RETURNED
                                                - FAILURE
                                              statusDetails:
                                                description: Human readable version of status
                                                type:
                                                - string
                                                - 'null'
                                              updatedAt:
                                                type: string
                                                description: Last time the status was updated
                                                format: datetime
                                              location:
                                                type: object
                                                description: Last known location
                                                properties:
                                                  city:
                                                    type:
                                                    - 'null'
                                                    - string
                                                  state:
                                                    type:
                                                    - 'null'
                                                    - string
                                                  zip:
                                                    type:
                                                    - 'null'
                                                    - string
                                                  country:
                                                    type:
                                                    - 'null'
                                                    - string
                                    required:
                                    - pickup
                                    - tracking
                                required:
                                - availableShippingMethods
                                - shipToAddress
                                - expectedShippingDates
                              brandRejectReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the brand has given for rejecting the order
                              retailerRejectReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the retailer rejected the reception of the order
                              retailerCancellationRequestReason:
                                type:
                                - 'null'
                                - string
                                description: The reason the retailer has given for a cancellation request
                              billingName:
                                type:
                                - 'null'
                                - string
                                description: The billing address name
                              billingOrganisationName:
                                type:
                                - 'null'
                                - string
                                description: The billing address organisation name
                              billingStreet:
                                type:
                                - 'null'
                                - string
                                description: The billing address street name
                              billingPostalCode:
                                type:
                                - 'null'
                                - string
                                description: The billing address postal code
                              billingCity:
                                type:
                                - 'null'
                                - string
                                description: The billing address city
                              billingCountryCode:
                                type:
                                - 'null'
                                - string
                                description: The billing address country code - ISO format
                              submittedAt:
                                type: string
                                format: datetime
                                description: The timestamp of when the order was submitted (order is placed)
                              shippedAt:
                                type:
                                - 'null'
                                - string
                                format: datetime
                                description: The timestamp of when the order was shipped
                              brandPaidAt:
                                type:
                                - 'null'
                                - string
                                format: datetime
                                description: The timestamp of when the brand was paid
                              createdAt:
                                type: string
                                format: datetime
                                description: (deprecated) The timestamp of when the order was created (before retailer payment)
                              updatedAt:
                                type: string
                                format: datetime
                                description: The timestamp of when the order was updated (does not include other resources)
                          relationships:
                            type: object
                            properties:
                              retailer:
                                description: Related Retailer Resource
                                type: object
                                properties:
                                  data:
                                    allOf:
                                    - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                      type: object
                                      required:
                                      - id
                                      - type
                                      properties:
                                        id:
                                          type: string
                                          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                          format: uuid
                                        type:
                                          type: string
                                          description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                        meta:
                                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                          type: object
                                          additionalProperties: true
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        type:
                                          const: retailers
                              billingItems:
                                description: Related Billing Item Resources
                                type: object
                                properties:
                                  data:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      allOf:
                                      - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                        type: object
                                        required:
                                        - id
                                        - type
                                        properties:
                                          id:
                                            type: string
                                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                            format: uuid
                                          type:
                                            type: string
                                            description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                          meta:
                                            description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                            type: object
                                            additionalProperties: true
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          type:
                                            const: billing-items
                              orderItems:
                                description: Related Order Item Resources
                                type: object
                                properties:
                                  data:
                                    type: array
                                    uniqueItems: true
                                    items:
                                      allOf:
                                      - description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                        type: object
                                        required:
                                        - id
                                        - type
                                        properties:
                                          id:
                                            type: string
                                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                            format: uuid
                                          type:
                                            type: string
                                            description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                          meta:
                                            description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                            type: object
                                            additionalProperties: true
                                        additionalProperties: false
                                      - type: object
                                        properties:
                                          type:
                                            const: order-items
                              orderItems-productOption:
                                description: 'Schema: Order Item -> Product Option Resource'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required:
                                    - id
                                    - type
                                    properties:
                                      id:
                                        type: string
                                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                        format: uuid
                                      type:
                                        type: string
                                        description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                      meta:
                                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                        type: object
                                        additionalProperties: true
                                    additionalProperties: false
                              orderItems-productOption-product:
                                description: 'Schema: Order Item -> Product Option Resource -> Product'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required:
                                    - id
                                    - type
                                    properties:
                                      id:
                                        type: string
                                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                        format: uuid
                                      type:
                                        type: string
                                        description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                      meta:
                                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                        type: object
                                        additionalProperties: true
                                    additionalProperties: false
                              orderItems-productVariant:
                                description: 'Schema: Order Item -> Product Variant Resource'
                                type: object
                                properties:
                                  data:
                                    description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                    type: object
                                    required:
                                    - id
                                    - type
                                    properties:
                                      id:
                                        type: string
[...]
