openapi: 3.1.0
info:
  version: 1.2.2-oas3.1
  title: Ankorstore Stock Tracking and Logistics Applications Shipping API
  summary: API specification for the Ankorstore Stock Tracking and Logistics system
  description: Ankorstore Stock Tracking and Logistics (ASTRAL) API specification
  contact:
    name: Ankorstore
    url: https://www.ankorstore.com
    email: api@ankorstore.com
  license:
    url: https://creativecommons.org/publicdomain/zero/1.0/
    name: CC0 1.0 Universal
servers:
- url: http://www.ankorlocal.com:8000
  description: Local Development Server
- url: https://www.preprod.ankorstore.com
  description: Staging Environment
- url: https://www.ankorstore.com
  description: Prod Environment
tags:
- name: Shipping
  description: "ℹ️ Here your can find endpoints related to different types of shipping, available on the platform.\n\n<div class=\"warning\">\n\nPlease note, that shipping information described here is only available for _Internal Orders_.\nFor more details check the [Orders](#tag/Ordering/General-conceptions) section.\n\n</div>\n\n## \U0001F4A1 How to ship an Internal Order?\n\nFor shipping an internal order, Ankorstore provides two methods:\n- `Ankorstore Label` method : For this method, the shipping will be handled by Ankorstore carrier partners. The cost of shipping will be charged to the brand.\n- `Brand Label` method : For this method, the shipping will be handled by the brand itself and Ankorstore will provide a refund.\n\nTo retrieve the shipping quotes, the brand must call the following endpoint:\n- Get quote list : `/v1/orders/:orderId/shipping-quotes`\n\nIn the list of quotes, the `Ankorstore Label` method can be found by the carrier name `ankorstore` :\n```json\n{\n    \"data\": [\n        {\n            \"quoteUuid\": \"1efcd179-5753-6ee0-91a4-72a6c4e49e6a\",\n            \"carrierCode\": \"ankorstore\",\n            \"serviceCode\": \"\",\n            \"serviceCommercialName\": \"\",\n            \"collectionMethod\": [],\n            \"shippingCost\": {\n                // Amount refunded to the brand if the quote is selected\n                \"amount\": 1006,\n                \"currency\": \"EUR\"\n            },\n            \"timeInTransit\": null\n        }\n    ]\n}\n```\nOther methods have a different `carrierCode`:\n```json\n{\n    \"data\": [\n        {\n            \"quoteUuid\": \"1edd47df-b91a-68b0-b517-52e73cd28d4f\",\n            \"carrierCode\": \"ups\",\n            \"serviceCode\": \"11\",\n            \"serviceCommercialName\": \"UPS Standard\",\n            \"collectionMethod\": [\n                \"pickup\",\n                \"drop-off\"\n            ],\n            \"shippingCost\": {\n                // Amount subtracted from total amount if the quote is selected\n                \"amount\": 807,\n                \"currency\": \"EUR\"\n            },\n            \"timeInTransit\": {\n                \"estimatedDeliveryDate\": \"2025-01-10\",\n                \"pickupDate\": \"2025-01-08\",\n                \"businessDaysInTransit\": 2\n            }\n        }\n    ]\n}\n```\n\nOnce the quote is generated, the brand must confirm the selected one by calling :\n- Confirm shipping : `/v1/shipping-quotes/:quoteId/confirm`\n\n<div class=\"info\">\n\nTo find out more about Ankorstore's shipping options, please [visit our FAQs.](https://ankorstoresas.my.site.com/faq/s/article/what-shipping-options-are-available-with-ankorstore?language=en_US)\n\n</div>\n\nThe brand can list many quotes before they decide to **confirm** the quote. An example flow:\n\n<pre class=\"mermaid\">\nflowchart LR\n    A[Start] --> B[Get shipping quote list: <br> orders/:orderId/shipping-quotes]\n    B --> B.1{ankorstore carrier quote selected ?}\n    B.1 -- NO --> B.YES[The brand will get the quote amount as a refund for the shipping]\n    B.1 -- YES --> B.NO[The brand will be charged for the shipping by the quote amount]\n    B.YES --> D[I Confirm the quote: <br> shipping-quotes/:quoteId/confirm]\n    B.NO --> D\n</pre>\n\n<div class=\"warning\">\n\n#### Parcels\n\nOn either shipping method, if the brand has previously generated a quote and is now generating a new one\nthe full list of parcels must be provided. The quote endpoint **cannot** be called with an empty parcel list\nto re-use the old parcel data.\n\n</div>\n\n<div class=\"danger\">\n\n#### Confirming a quote\n\nTo confirm a quote, the ID must be provided when calling the `/v1/shipping-quotes/:quoteId/confirm` endpoint.\n\n</div>\n\nAll information regarding shipping and tracking is stored within the `shippingOverview` object. This includes the `latestQuote` generated and the `shippingCostsOverview`.\n\n## \U0001F4A1 Shipping Costs\n\nIn the endpoint for listing quotes `v1/orders/:orderId/shipping-quotes`, the shipping cost of the selected\nquote will be the **fee** subtracted from total amount for carriers (`ups`, `dhl_express`, etc) and a **refund** amount\nfor `ankorstore` carrier (amount refunded to the brand):\n```json\n{\n    \"data\": [\n        {\n            \"quoteUuid\": \"1edd47df-b91a-68b0-b517-52e73cd28d4f\",\n            \"carrierCode\": \"ups\",\n            \"serviceCode\": \"11\",\n            \"serviceCommercialName\": \"UPS Standard\",\n            \"collectionMethod\": [\n                \"pickup\",\n                \"drop-off\"\n            ],\n            \"shippingCost\": {\n                // Amount subtracted from total amount if the quote is selected\n                \"amount\": 807,\n                \"currency\": \"EUR\"\n            }\n        },\n        {\n            \"quoteUuid\": \"1efcd179-5753-6ee0-91a4-72a6c4e49e6a\",\n            \"carrierCode\": \"ankorstore\",\n            \"serviceCode\": \"\",\n            \"serviceCommercialName\": \"\",\n            \"collectionMethod\": [],\n            \"shippingCost\": {\n                // Amount refunded to the brand if the quote is selected\n                \"amount\": 1006,\n                \"currency\": \"EUR\"\n            }\n        }\n    ]\n}\n```\n\n<div class=\"info\">\n\n#### Want more information about shipping contribution?\n\nTo find out more about Ankorstore's contribution to your shipping costs, please [visit our FAQs.](https://knowledgecommunity.force.com/faq/s/article/shippingpolicy?language=en_US)\n\n</div>\n\n### Shipping with Brand Label\n\nThe quote action will return an amount that will be refunded back to the brand based on the shipping grid refund matrix.\n\nThe confirm action is synchronous, meaning when the action is called the order resource will have its status\nchanged to `shipped` upon returning a response. It is up to brand to provide tracking details for the retailer when calling this action.\n\n<pre class=\"mermaid\">\nsequenceDiagram\n  participant O as Order\n  participant SWC as Ship : orders/:orderId/shipping-quotes\n  participant SC as Confirm : shipping-quotes/:quoteId/confirm\n  participant SH as Shipped\n\n  O->>SWC: List quotes\n  SWC-->>O: Quote OK\n  O->>SC: Confirm 'ankorstore' carrier quote\n  SC->>SH: Status\n  SC-->>O: OK\n</pre>\n\n<div class=\"info\">\n\nIn the `orders/:orderId/shipping-quotes` endpoint response, the quote uuid generated is the following:\n\n```json\n {\n    \"quoteUuid\": \"1efcd179-56c1-6432-98e7-72a6c4e49e6a\",\n    \"carrierCode\": \"ankorstore\",\n     ...\n   }\n }\n```\n\n</div>\n\n### Shipping with Ankorstore Label (carrier name like ups, dhl_express, etc)\n\nWhen calling the `confirm` action for the order's Ankorstore shipping quote, the returned order resource's status\nwill still be `brand_confirmed`. A job in the background will generate the shipping labels for the order.\nIt is this background processing that moves the status to `shipping_labels_generated`.\n\n<div class=\"info\">\n\n#### How will I know when the labels have been generated?\n\nRight now, the order must be polled periodically. Checking every minute would be suitable to detect the status change\nand then pull the label PDF data within the shippingOverview of an order resource.\n\n</div>\n\n<pre class=\"mermaid\">\nsequenceDiagram\n  participant O as Order\n  participant SWA as Ship with Ankorstore Label : <br> orders/:orderId/shipping-quotes\n  participant SC as Confirm shipping : <br> shipping-quotes/:quoteId/confirm\n  participant BG as Async Processing\n  participant C as Carrier\n  participant SH as Shipped\n\n  O->>SWA: Get shipping quote list\n  SWA-->>O: I accept one quote\n  O->>SC: I confirm the quote\n  SC-->>O: OK status=brand_confirmed\n  SC-->>BG: Dispatch generate labels job\n  Note over SC,BG: Async worker job\n  BG-->>O: Labels generated, status=shipping_labels_generated\n  Note over BG,O: (Async worker)\n  C-->>SH: Parcels scanned, status=shipped\n  Note over C,SH: (External service)\n</pre>\n\nAt step 6 (shipping labels generated) the download URL's for each packages label will be available within\nthe shippingOverview of an order resource. These labels are in PDF format and will also be visible in order details page on Ankorstore.\n\nIn the `orders/:orderId/shipping-quotes` endpoint response, the quote uuid generated is the following:\n\n```json\n {\n    \"quoteUuid\": \"1efcd179-56c1-6432-98e7-72a6c4e49e6a\",\n    \"carrierCode\": \"ups\",\n     ...\n   }\n }\n```\n\n### Schedule a Pickup\n\nIf the brand is not taking the parcels to the local drop-off point for the carrier the brand can schedule a pickup\nfor this order. A pickup can only be scheduled on a working day (monday to friday).\nFor full information please refer to the API documentation.\n\n<div class=\"info\">\n\n#### Pickup is not accepted\n\nFor now, Ankorstore does not know in advance which date/time configuration is available,\nif the requested pickup is denied please try a different date or time frame.\n\n</div>\n\n## ⚠️ Deprecation notice\n\n<div class=\"warning\">\n\nSome of the endpoints and documents from this section are deprecated and will be removed in the future.\nYou can temporarily still find them [here](#tag/Deprecated).\n\n</div>\n"
paths:
  /api/v1/master-orders/{orderId}/tracking:
    get:
      summary: List master order shipment tracking
      description: Retrieve shipment information like the parcels and the tracking information
      operationId: get-master-order-shipping-shipment
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      - name: include
        in: query
        allowEmptyValue: true
        required: false
        schema:
          type: string
          enum:
          - shipmentParcel
          - shipmentQuote
          - shippedItems
      responses:
        '200':
          description: Shipment tracking information
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type:
                    - 'null'
                    - object
                    properties:
                      type:
                        type: string
                        default: shipment-trackings
                      id:
                        type: string
                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                        format: uuid
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - carrier
                        - trackingNumber
                        - trackingLink
                        - status
                        properties:
                          carrier:
                            type:
                            - 'null'
                            - string
                          serviceCode:
                            type:
                            - 'null'
                            - string
                          trackingNumber:
                            type: string
                          trackingLink:
                            type:
                            - 'null'
                            - string
                          status:
                            type:
                            - 'null'
                            - string
                      relationships:
                        type: object
                        description: Only presented if asked explicitly in the request
                        properties:
                          shipmentParcel:
                            type: object
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: &id003
                                  description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                  type: object
                                  required: &id001
                                  - id
                                  - type
                                  properties: &id002
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                                    type:
                                      type: string
                                      description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                    meta:
                                      description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                      type: object
                                      additionalProperties: true
                                  additionalProperties: false
                                uniqueItems: true
                          shipmentQuote:
                            type: object
                            properties:
                              data:
                                description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                type: object
                                required: *id001
                                properties: *id002
                                additionalProperties: false
                          shippedItems:
                            type: object
                            description: Only presented if asked explicitly in the request with ?include=shippedItems
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: *id003
                                uniqueItems: true
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id004
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  included:
                    type: array
                    items:
                      anyOf:
                      - properties:
                          type:
                            type: string
                            default: tracked-packages
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            required:
                            - trackingNumber
                            - trackingLink
                            - status
                            properties:
                              height:
                                description: Height of the package (cm)
                                type:
                                - 'null'
                                - integer
                              width:
                                description: Width of the package (cm)
                                type:
                                - 'null'
                                - integer
                              length:
                                description: Length of the package (cm)
                                type:
                                - 'null'
                                - integer
                              weight:
                                description: Weight of the package (g)
                                type:
                                - 'null'
                                - integer
                              trackingNumber:
                                type: string
                                description: Tracking number of the package
                              trackingLink:
                                type: string
                                description: Tracking link of the package
                              status:
                                type: string
                                description: Status of the package
                              serialShippingContainerCode:
                                type:
                                - 'null'
                                - string
                                description: Serial Shipping Container Code (SSCC) for traceability
                              label:
                                type:
                                - 'null'
                                - object
                                description: Label of the package
                                properties:
                                  content:
                                    type: string
                                    description: Content of the label
                                  contentType:
                                    type: string
                                    description: Content type of the label (gif, pdf)
                      - properties:
                          type:
                            type: string
                            default: shipping-shipment-shipped-item
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            required:
                            - parcelId
                            - productVariantId
                            - batchQuantity
                            - unitQuantity
                            properties:
                              parcelId:
                                type: string
                                format: uuid
                                description: The UUID of the parcel (tracked package) this item belongs to
                              productVariantId:
                                type: string
                                format: uuid
                                description: The UUID of the product variant
                              batchQuantity:
                                type: integer
                                minimum: 1
                                description: Number of batches (e.g. boxes) shipped
                              unitQuantity:
                                type: integer
                                minimum: 1
                                description: Number of individual units shipped
                              lotNumber:
                                type:
                                - 'null'
                                - string
                                description: Lot or batch number for traceability
                              expiryDate:
                                type:
                                - 'null'
                                - string
                                format: date
                                description: Expiry date of the items (YYYY-MM-DD)
                required:
                - data
                - jsonapi
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id005
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id004
                    additionalProperties: false
                required: &id006
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id005
                required: *id006
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
    post:
      summary: Create master order shipment tracking
      description: Create shipment information like the parcels and the tracking information
      operationId: post-master-order-shipping-shipment
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      - name: include
        in: query
        allowEmptyValue: true
        required: false
        schema:
          type: string
          enum:
          - shipmentParcel
          - shipmentQuote
          - shippedItems
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - shipping-shipment
                    id:
                      type: string
                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                      format: uuid
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - status
                      - carrier
                      properties:
                        carrier:
                          type:
                          - 'null'
                          - string
                          description: The carrier name - set 'other' if the carrier is not known yet
                        trackingNumber:
                          type:
                          - 'null'
                          - string
                        trackingLink:
                          type:
                          - 'null'
                          - string
                          description: Tracking link to the carrier's website - if null and if the carrier is known, the tracking link will be generated by Ankorstore
                        status:
                          type: string
                          enum:
                          - UNKNOWN
                          - PRE_TRANSIT
                          - TRANSIT
                          - DELIVERED
                          - RETURNED
                          - FAILURE
                        fromAddress:
                          description: The address from where the parcels are shipped
                          type: object
                          properties:
                            data:
                              type: object
                              required:
                              - name
                              - street
                              - city
                              - postalCode
                              - countryCode
                              properties:
                                name:
                                  type: string
                                street:
                                  type: string
                                city:
                                  type: string
                                postalCode:
                                  type: string
                                countryCode:
                                  type: string
                                  format: iso3166-1-alpha-2
                    relationships:
                      type: object
                      required:
                      - shipmentParcel
                      properties:
                        shipmentParcel:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - type
                                - id
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - shipping-shipment-parcel
                                  id:
                                    type: string
                                    description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                    format: uuid
                                  attributes:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - status
                                    properties:
                                      trackingNumber:
                                        type:
                                        - 'null'
                                        - string
                                      trackingLink:
                                        type:
                                        - 'null'
                                        - string
                                        description: Tracking link to the carrier's website - if null and if the carrier is known, the tracking link will be generated by Ankorstore
                                      status:
                                        type: string
                                        enum:
                                        - UNKNOWN
                                        - PRE_TRANSIT
                                        - TRANSIT
                                        - DELIVERED
                                        - RETURNED
                                        - FAILURE
                                      length:
                                        description: The length of the parcel in cm
                                        type:
                                        - 'null'
                                        - integer
                                      width:
                                        description: The width of the parcel in cm
                                        type:
                                        - 'null'
                                        - integer
                                      height:
                                        description: The height of the parcel in cm
                                        type:
                                        - 'null'
                                        - integer
                                      weight:
                                        description: The weight of the parcel in grams
                                        type:
                                        - 'null'
                                        - integer
                                      sscc:
                                        description: Serial Shipping Container Code (SSCC) for traceability
                                        type:
                                        - 'null'
                                        - string
                                      shippedItems:
                                        description: Items shipped in this parcel
                                        type: array
                                        items:
                                          type: object
                                          required:
                                          - productVariantUuid
                                          - batchQuantity
                                          - unitQuantity
                                          properties:
                                            productVariantUuid:
                                              type: string
                                              format: uuid
                                              description: The UUID of the product variant
                                            batchQuantity:
                                              type: integer
                                              minimum: 1
                                              description: Number of batches (e.g. boxes) shipped
                                            unitQuantity:
                                              type: integer
                                              minimum: 1
                                              description: Number of individual units shipped
                                            lotNumber:
                                              type:
                                              - 'null'
                                              - string
                                              description: Lot or batch number for traceability
                                              maxLength: 100
                                            expiryDate:
                                              type:
                                              - 'null'
                                              - string
                                              format: date
                                              description: Expiry date of the items (YYYY-MM-DD)
                        shipmentQuote:
                          type:
                          - 'null'
                          - object
                          description: The quote is the price of the shipping
                          properties:
                            data:
                              type: object
                              required:
                              - type
                              - id
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - shipping-quotes
                                id:
                                  type: string
                                  description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                  format: uuid
      responses:
        '201':
          description: Shipment tracking information
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type:
                    - 'null'
                    - object
                    properties:
                      type:
                        type: string
                        default: shipment-trackings
                      id:
                        type: string
                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                        format: uuid
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - carrier
                        - trackingNumber
                        - trackingLink
                        - status
                        properties:
                          carrier:
                            type:
                            - 'null'
                            - string
                          serviceCode:
                            type:
                            - 'null'
                            - string
                          trackingNumber:
                            type: string
                          trackingLink:
                            type:
                            - 'null'
                            - string
                          status:
                            type:
                            - 'null'
                            - string
                      relationships:
                        type: object
                        description: Only presented if asked explicitly in the request
                        properties:
                          shipmentParcel:
                            type: object
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: &id009
                                  description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                  type: object
                                  required: &id007
                                  - id
                                  - type
                                  properties: &id008
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                                    type:
                                      type: string
                                      description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                    meta:
                                      description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                      type: object
                                      additionalProperties: true
                                  additionalProperties: false
                                uniqueItems: true
                          shipmentQuote:
                            type: object
                            properties:
                              data:
                                description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                type: object
                                required: *id007
                                properties: *id008
                                additionalProperties: false
                          shippedItems:
                            type: object
                            description: Only presented if asked explicitly in the request with ?include=shippedItems
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: *id009
                                uniqueItems: true
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id010
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  included:
                    type: array
                    items:
                      anyOf:
                      - properties:
                          type:
                            type: string
                            default: tracked-packages
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            required:
                            - trackingNumber
                            - trackingLink
                            - status
                            properties:
                              height:
                                description: Height of the package (cm)
                                type:
                                - 'null'
                                - integer
                              width:
                                description: Width of the package (cm)
                                type:
                                - 'null'
                                - integer
                              length:
                                description: Length of the package (cm)
                                type:
                                - 'null'
                                - integer
                              weight:
                                description: Weight of the package (g)
                                type:
                                - 'null'
                                - integer
                              trackingNumber:
                                type: string
                                description: Tracking number of the package
                              trackingLink:
                                type: string
                                description: Tracking link of the package
                              status:
                                type: string
                                description: Status of the package
                              serialShippingContainerCode:
                                type:
                                - 'null'
                                - string
                                description: Serial Shipping Container Code (SSCC) for traceability
                              label:
                                type:
                                - 'null'
                                - object
                                description: Label of the package
                                properties:
                                  content:
                                    type: string
                                    description: Content of the label
                                  contentType:
                                    type: string
                                    description: Content type of the label (gif, pdf)
                      - type: object
                        description: Quote resource
                        properties:
                          quoteUuid:
                            type: string
                            description: The unique identifier for the quote as an uuid
                          carrierCode:
                            type: string
                            description: The carrier code for the quote
                          serviceCode:
                            type: string
                            description: The service code for the quote
                          serviceCommercialName:
                            type: string
                            description: The commercial name of the service
                          collectionMethod:
                            description: The collection method for the quote
                            type: array
                            items:
                              type: string
                              enum:
                              - pickup
                              - drop-off
                          shippingCost:
                            type: object
                            properties:
                              amount:
                                type: number
                                description: The amount of the shipping cost
                              currency:
                                type: string
                                description: The currency of the shipping cost
                          timeInTransit:
                            type:
                            - 'null'
                            - object
                            description: Delivery estimation information if provided by carrier
                            properties:
                              estimatedDeliveryDate:
                                type:
                                - 'null'
                                - string
                                format: date
                                description: Estimation of delivery date by the carrier
                              pickupDate:
                                type:
                                - 'null'
                                - string
                                format: date
                                description: Pickup date considered for the estimation
                              businessDaysInTransit:
                                type:
                                - 'null'
                                - number
                                description: Number of business days the shipment is in transit
                required:
                - data
                - jsonapi
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id011
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id010
                    additionalProperties: false
                required: &id012
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id011
                required: *id012
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id011
                required: *id012
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id011
                required: *id012
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id011
                required: *id012
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id011
                required: *id012
              example:
                jsonapi:
                  version: string
                errors:
                - detail: The field is required.
                  source:
                    pointer: data.attributes.field
                  status: '422'
                  title: Unprocessable Content
    patch:
      summary: Update master order shipment tracking
      description: Update shipment information like the parcels and the tracking information
      operationId: patch-master-order-shipping-shipment
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      - name: include
        in: query
        allowEmptyValue: true
        required: false
        schema:
          type: string
          enum:
          - shipmentParcel
          - shipmentQuote
          - shippedItems
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - shipping-shipment
                    id:
                      type: string
                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                      format: uuid
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - status
                      - carrier
                      properties:
                        carrier:
                          type:
                          - 'null'
                          - string
                          description: The carrier name - set 'other' if the carrier is not known yet
                        trackingNumber:
                          type:
                          - 'null'
                          - string
                        trackingLink:
                          type:
                          - 'null'
                          - string
                          description: Tracking link to the carrier's website - if null and if the carrier is known, the tracking link will be generated by Ankorstore
                        status:
                          type: string
                          enum:
                          - UNKNOWN
                          - PRE_TRANSIT
                          - TRANSIT
                          - DELIVERED
                          - RETURNED
                          - FAILURE
                    relationships:
                      type: object
                      required:
                      - shipmentParcel
                      properties:
                        shipmentParcel:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - type
                                - id
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - shipping-shipment-parcel
                                  id:
                                    type: string
                                    description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                    format: uuid
                                  attributes:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - status
                                    properties:
                                      trackingNumber:
                                        type:
                                        - 'null'
                                        - string
                                      trackingLink:
                                        type:
                                        - 'null'
                                        - string
                                        description: Tracking link to the carrier's website - if null and if the carrier is known, the tracking link will be generated by Ankorstore
                                      status:
                                        type: string
                                        enum:
                                        - UNKNOWN
                                        - PRE_TRANSIT
                                        - TRANSIT
                                        - DELIVERED
                                        - RETURNED
                                        - FAILURE
                                      length:
                                        type:
                                        - 'null'
                                        - integer
                                      width:
                                        type:
                                        - 'null'
                                        - integer
                                      height:
                                        type:
                                        - 'null'
                                        - integer
                                      weight:
                                        type:
                                        - 'null'
                                        - integer
                                      sscc:
                                        description: Serial Shipping Container Code (SSCC) for traceability
                                        type:
                                        - 'null'
                                        - string
                                      shippedItems:
                                        description: Items shipped in this parcel
                                        type: array
                                        items:
                                          type: object
                                          required:
                                          - productVariantUuid
                                          - batchQuantity
                                          - unitQuantity
                                          properties:
                                            productVariantUuid:
                                              type: string
                                              format: uuid
                                              description: The UUID of the product variant
                                            batchQuantity:
                                              type: integer
                                              minimum: 1
                                              description: Number of batches (e.g. boxes) shipped
                                            unitQuantity:
                                              type: integer
                                              minimum: 1
                                              description: Number of individual units shipped
                                            lotNumber:
                                              type:
                                              - 'null'
                                              - string
                                              description: Lot or batch number for traceability
                                              maxLength: 100
                                            expiryDate:
                                              type:
                                              - 'null'
                                              - string
                                              format: date
                                              description: Expiry date of the items (YYYY-MM-DD)
      responses:
        '200':
          description: Shipment tracking information
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type:
                    - 'null'
                    - object
                    properties:
                      type:
                        type: string
                        default: shipment-trackings
                      id:
                        type: string
                        description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                        format: uuid
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - carrier
                        - trackingNumber
                        - trackingLink
                        - status
                        properties:
                          carrier:
                            type:
                            - 'null'
                            - string
                          serviceCode:
                            type:
                            - 'null'
                            - string
                          trackingNumber:
                            type: string
                          trackingLink:
                            type:
                            - 'null'
                            - string
                          status:
                            type:
                            - 'null'
                            - string
                      relationships:
                        type: object
                        description: Only presented if asked explicitly in the request
                        properties:
                          shipmentParcel:
                            type: object
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: &id015
                                  description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                  type: object
                                  required: &id013
                                  - id
                                  - type
                                  properties: &id014
                                    id:
                                      type: string
                                      description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                                      format: uuid
                                    type:
                                      type: string
                                      description: '[resource object type](https://jsonapi.org/format/#document-resource-object-identification)'
                                    meta:
                                      description: Non-standard meta-information that can not be represented as an attribute or relationship.
                                      type: object
                                      additionalProperties: true
                                  additionalProperties: false
                                uniqueItems: true
                          shipmentQuote:
                            type: object
                            properties:
                              data:
                                description: Resource identification present in Resource Objects and Resource Identifier Objects.
                                type: object
                                required: *id013
                                properties: *id014
                                additionalProperties: false
                          shippedItems:
                            type: object
                            description: Only presented if asked explicitly in the request with ?include=shippedItems
                            properties:
                              data:
                                description: An array of objects each containing `type` and `id` members for to-many relationships.
                                type: array
                                items: *id015
                                uniqueItems: true
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id016
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                  included:
                    type: array
                    items:
                      anyOf:
                      - properties:
                          type:
                            type: string
                            default: tracked-packages
                          id:
                            type: string
                            description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
                            format: uuid
                          attributes:
                            type: object
                            additionalProperties: false
                            required:
                            - trackingNumber
                            - trackingLink
                            - status
                            properties:
                              height:
                                description: Height of the package (cm)
                                type:
                                - 'null'
                                - integer
                              width:
                                description: Width of the package (cm)
                                type:
                                - 'null'
                                - integer
                              length:
                                description: Length of the package (cm)
                                type:
                                - 'null'
                                - integer
                              weight:
                                description: Weight of the package (g)
                                type:
                                - 'null'
                                - integer
                              trackingNumber:
                                type: string
                                description: Tracking number of the package
                              trackingLink:
                                type: string
                                description: Tracking link of the package
                              status:
                                type: string
                                description: Status of the package
                              serialShippingContainerCode:
                                type:
                                - 'null'
                                - string
                                description: Serial Shipping Container Code (SSCC) for traceability
                              label:
                                type:
                                - 'null'
                                - object
                                description: Label of the package
                                properties:
                                  content:
                                    type: string
                                    description: Content of the label
                                  contentType:
                                    type: string
                                    description: Content type of the label (gif, pdf)
                      - type: object
                        description: Quote resource
                        properties:
                          quoteUuid:
                            type: string
                            description: The unique identifier for the quote as an uuid
                          carrierCode:
                            type: string
                            description: The carrier code for the quote
                          serviceCode:
                            type: string
                            description: The service code for the quote
                          serviceCommercialName:
                            type: string
                            description: The commercial name of the service
                          collectionMethod:
                            description: The collection method for the quote
                            type: array
                            items:
                              type: string
                              enum:
                              - pickup
                              - drop-off
                          shippingCost:
                            type: object
                            properties:
                              amount:
                                type: number
                                description: The amount of the shipping cost
                              currency:
                                type: string
                                description: The currency of the shipping cost
                          timeInTransit:
                            type:
                            - 'null'
                            - object
                            description: Delivery estimation information if provided by carrier
                            properties:
                              estimatedDeliveryDate:
                                type:
                                - 'null'
                                - string
                                format: date
                                description: Estimation of delivery date by the carrier
                              pickupDate:
                                type:
                                - 'null'
                                - string
                                format: date
                                description: Pickup date considered for the estimation
                              businessDaysInTransit:
                                type:
                                - 'null'
                                - number
                                description: Number of business days the shipment is in transit
                required:
                - data
                - jsonapi
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id017
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id016
                    additionalProperties: false
                required: &id018
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id017
                required: *id018
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id017
                required: *id018
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id017
                required: *id018
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id017
                required: *id018
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id017
                required: *id018
              example:
                jsonapi:
                  version: string
                errors:
                - detail: The field is required.
                  source:
                    pointer: data.attributes.field
                  status: '422'
                  title: Unprocessable Content
  /api/v1/orders/{order}/shipping-quotes:
    post:
      summary: List Shipping Quotes
      operationId: list-order-shipping-quotes
      description: 'List multiple carrier service quotes that you can choose to ship your order.

        Please visit our [FAQs](https://knowledgecommunity.force.com/faq/s/article/how-do-i-benefit-from-shipping-with-ankorstore?language=en_US) for more information.''

        '
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: order
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                parcels:
                  type: array
                  minimum: 1
                  maximum: 20
                  items:
                    type: object
                    required:
                    - kg
                    - height
                    - length
                    - width
                    properties:
                      kg:
                        type: number
                        description: The weight of the parcel in kilograms
                        minimum: 0.001
                        maximum: 30
                      height:
                        type: number
                        description: The height of the parcel in centimeters
                        minimum: 1
                        maximum: 274
                      length:
                        type: number
                        description: The length of the parcel in centimeters
                        minimum: 1
                        maximum: 274
                      width:
                        type: number
                        description: The width of the parcel in centimeters
                        minimum: 1
                        maximum: 274
              required:
              - parcels
            example:
              parcels:
              - length: 20
                width: 20
                height: 20
                kg: 21
      responses:
        '200':
          description: A list of shipping quotes
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: Quote resource
                      properties:
                        quoteUuid:
                          type: string
                          description: The unique identifier for the quote as an uuid
                        carrierCode:
                          type: string
                          description: The carrier code for the quote
                        serviceCode:
                          type: string
                          description: The service code for the quote
                        serviceCommercialName:
                          type: string
                          description: The commercial name of the service
                        collectionMethod:
                          description: The collection method for the quote
                          type: array
                          items:
                            type: string
                            enum:
                            - pickup
                            - drop-off
                        shippingCost:
                          type: object
                          properties:
                            amount:
                              type: number
                              description: The amount of the shipping cost
                            currency:
                              type: string
                              description: The currency of the shipping cost
                        timeInTransit:
                          type:
                          - 'null'
                          - object
                          description: Delivery estimation information if provided by carrier
                          properties:
                            estimatedDeliveryDate:
                              type:
                              - 'null'
                              - string
                              format: date
                              description: Estimation of delivery date by the carrier
                            pickupDate:
                              type:
                              - 'null'
                              - string
                              format: date
                              description: Pickup date considered for the estimation
                            businessDaysInTransit:
                              type:
                              - 'null'
                              - number
                              description: Number of business days the shipment is in transit
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id019
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
              examples:
                example:
                  value:
                    jsonapi:
                      version: '1.0'
                    data:
                    - quoteUuid: 1eda3cbb-983b-6a4a-b395-6a0440190584
                      carrierCode: ups
                      serviceCode: '11'
                      serviceCommercialName: UPS STANDARD
                      collectionMethod:
                      - pickup
                      shippingCost:
                        amount: 12
                        currency: EUR
                      timeInTransit:
                        estimatedDeliveryDate: '2024-09-09'
                        pickupDate: '2024-09-07'
                        businessDaysInTransit: 2
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id020
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id019
                    additionalProperties: false
                required: &id021
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id020
                required: *id021
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id020
                required: *id021
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id020
                required: *id021
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id020
                required: *id021
              examples:
                example:
                  value:
                    jsonapi:
                      version: string
                    errors:
                    - detail: The field is required.
                      source:
                        pointer: field
                      status: '422'
                      title: Unprocessable Content
                    - detail: The package dimensions are too big. Packages can be up to 400 cm in length and girth combined
                      source:
                        pointer: shipping.parcels.0
                      status: '422'
                      title: Unprocessable Content
                    - detail: The parcel weight (kg) must be between 0.001 and 30.000.
                      source:
                        pointer: shipping.parcels.0.kg
                      status: '422'
                      title: Unprocessable Content
                    - detail: The parcel length may not be greater than 274.
                      source:
                        pointer: shipping.parcels.0.length
                      status: '422'
                      title: Unprocessable Content
                    - detail: The parcel width may not be greater than 274.
                      source:
                        pointer: shipping.parcels.0.width
                      status: '422'
                      title: Unprocessable Content
                    - detail: The parcel height may not be greater than 274.
                      source:
                        pointer: shipping.parcels.0.height
                      status: '422'
                      title: Unprocessable Content
  /api/v1/shipping-quotes/{quote}/confirm:
    post:
      summary: Confirm Shipping Quote
      operationId: confirm-order-shipping-quote
      description: 'Use this endpoint to confirm which quote you want to use to ship your order.

        You can confirm either custom or ankorstore quote.

        '
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: quote
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                labelFormat:
                  type: string
                  description: This field is not required. If you don't' define it we will use the default label format as well.
                  enum:
                  - full_page
                  - default
                  default: default
                tracking:
                  oneOf:
                  - type: object
                    description: Tracking Provider + Number for custom quote
                    required:
                    - trackingProvider
                    - trackingNumber
                    properties:
                      trackingProvider:
                        type: string
                        description: Tracking provider is required with trackingNumber if your define an tracking key in your payload. You can define trackingLink instead of define trackingProvider & trackingNumber
                      trackingNumber:
                        description: The tracking number (may contain characters as well)
                        type: string
                  - type: object
                    description: Tracking Link
                    required:
                    - trackingLink
                    properties:
                      trackingLink:
                        type: string
                        format: url
                        description: Tracking link is required if your define an tracking key in your payload. You can define trackingProvider & trackingNumber instead
            examples:
              example-with-full-page-label-format:
                value:
                  labelFormat: default
              example-with-provider-and-number:
                value:
                  tracking:
                    trackingProvider: ups
                    trackingNumber: '123456'
              example-with-link:
                value:
                  tracking:
                    trackingLink: https://www.dhl.com/fr-en/home/tracking/tracking-parcel.html?submit=1&tracking-id=1Z8A76E46801183396
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      uuid:
                        type: string
                      orderUuid:
                        type: string
                      provider:
                        type: string
                      currency:
                        type: string
                      shippingCost:
                        type: string
                        description: Shipping cost subtracted from total amount for ankorstore quote - Available only for ankorstore quote
                      refund:
                        type: string
                        description: Refund done to the brand for custom quote - Available only for custom quote
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: &id022
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
              examples:
                example-with-shipping-cost:
                  value:
                    jsonapi:
                      version: '1.0'
                    data:
                      id: '991836'
                      uuid: 1eda3cbb-983b-6a4a-b395-6a0440190584
                      orderUuid: 1ed9f5cc-ce42-625a-a8f1-b6ea0809b6f7
                      provider: ups
                      currency: EUR
                      shippingCost: €12.00
                example-with-refund:
                  value:
                    jsonapi:
                      version: '1.0'
                    data:
                      id: '991836'
                      uuid: 1eda3cbb-983b-6a4a-b395-6a0440190584
                      orderUuid: 1ed9f5cc-ce42-625a-a8f1-b6ea0809b6f7
                      provider: ups
                      currency: EUR
                      refund: €12.00
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: &id023
                  errors:
                    type: array
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          type: string
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          type: string
                        title:
                          description: The HTTP status code description applicable to this problem
                          type: string
                        source:
                          type: object
                          description: Optional object pointing towards the problematic field
                          properties:
                            pointer:
                              type: string
                              description: The field key
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                      additionalProperties: false
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties: *id022
                    additionalProperties: false
                required: &id024
                - errors
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unauthorized
                  status: '401'
        '403':
          description: '[Forbidden](https://jsonapi.org/format/#crud-creating-responses-403)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id023
                required: *id024
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Forbidden
                  status: '403'
        '404':
          description: '[Not found](https://jsonapi.org/format/#fetching-resources-responses-404)'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id023
                required: *id024
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not found
                  status: '404'
        '406':
          description: Not Acceptable
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id023
                required: *id024
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Not Acceptable
                  status: '406'
        '415':
          description: Unsupported Media Type
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id023
                required: *id024
              example:
                jsonapi:
                  version: '1.0'
                errors:
                - detail: Unsupported Media Type
                  status: '415'
        '422':
          description: 'Unprocessable Entity : Data provided are invalid'
          content:
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties: false
                properties: *id023
                required: *id024
              example:
                jsonapi:
                  version: string
                errors:
                - detail: The field is required.
                  source:
                    pointer: data.attributes.field
                  status: '422'
                  title: Unprocessable Content
  /api/v1/orders/{order}/ship/schedule-pickup:
    post:
      summary: Schedule Pickup for order
      operationId: ship-internal-order-schedule-pickup
      description: Use this endpoint for scheduling a pickup for the order
      tags:
      - Shipping
      parameters:
      - name: Accept
        in: header
        description: application/vnd.api+json
        schema:
          type: string
          default: application/vnd.api+json
      - name: order
        in: path
        required: true
        schema:
          type: string
          description: '[resource object identifier (uuid)](https://jsonapi.org/format/#document-resource-object-identification)'
          format: uuid
      responses:
        '200':
          description: Order Resource
          content:
            application/vnd.api+json:
              schema:
                title: Order Get
                type: object
                additionalProperties: false
                examples:
                - jsonapi:
                    version: '1.0'
                  data:
                    type: orders
[...]
